<div class="flex items-center w-screen mt-20 container mx-auto">
  <div class="py-20">
    <div class="px-5">
      <h1 class="font-bold text-start text-3xl md:text-6xl pt-10 text-[#101928] max-w-3xl leading-[150%]">
        Our suite of innovative solutions
      </h1>
    </div>
  </div>
</div>
<div class="py-20 container mx-auto">
  <div class="bg-slate-100 pt-10 rounded-xl">
    <div class="px-3 md:px-10">
      <h1 class="font-bold text-2xl md:text-4xl my-5 text-[#101928]">Hydra - Open Source Intelligence Platform</h1>
      <p class="text-[#667185] text-lg md:text-2xl my-5">
        Artificial Intelligence based Open Source Intelligence (OSINT) platform
      </p>
      <p class="text-[#344054] text-sm md:text-lg my-5">
        Hydra is a powerful OSINT platform that scans the internet in real-time, extracts critical data, and presents valuable insights on an interactive map. With its advanced analysis capabilities, Hydra helps you stay informed about global events, identify emerging threats, and gain a competitive edge.
      </p>
      <button
        class="bg-white border-2 border-[#E4E7EC] text-[#101928] rounded-lg font-medium py-2 md:py-3 px-3 md:px-5 my-5"
      >
        Learn More
      </button>
    </div>
    <img src="assets/image 54.jpg" class="shadow-md border border-gray-200" width="100%" alt="" />
  </div>
  <div class="bg-slate-100 pt-10 my-10 rounded-xl">
    <div class="px-3 md:px-10">
      <h1 class="font-bold text-2xl md:text-4xl my-5 text-[#101928]">CIVET AI</h1>
      <p class="text-[#667185] text-lg md:text-2xl my-5">
        Artificial Intelligence Video Surveillance Software
      </p>
      <p class="text-[#344054] text-sm md:text-lg my-5">
        Enhance situational awareness with our advanced video surveillance analytics software.
      </p>

      <button
        class="bg-white border-2 border-[#E4E7EC] text-[#101928] rounded-lg font-medium py-2 md:py-3 px-3 md:px-5 my-5"
      >
        Learn More
      </button>
    </div>
    <img src="assets/product/image 40.svg" alt="" class="shadow-md border border-gray-200" width="100%" />
  </div>

  <div class="bg-slate-100 pt-10 my-10 rounded-xl">
    <div class="px-3 md:px-10">
      <h1 class="font-bold text-2xl md:text-4xl my-5 text-[#101928]">OneSearch - Enterprise Workflow and Document Management Software</h1>
      <p class="text-[#667185] text-lg md:text-2xl my-5">
        Real-Time Location Sharing software
      </p>
      <p class="text-[#344054] text-sm md:text-lg my-5">
        OneSearch is a secure and efficient document management system designed for handling sensitive and classified information. With OneSearch, you can easily upload, access, and manage documents from anywhere, while ensuring the highest levels of data protection.
      </p>
      <button
        class="bg-white border-2 border-[#E4E7EC] text-[#101928] rounded-lg font-medium py-2 md:py-3 px-3 md:px-5 my-5"
      >
        Learn More
      </button>
    </div>
    <img src="assets/one-shoutBg.png" class="shadow-md border border-gray-200" alt="" width="100%" />
  </div>

  <div class="bg-slate-100 pt-10 my-10 rounded-xl">
    <div class="px-3 md:px-10">
      <h1 class="font-bold text-2xl md:text-4xl my-5 text-[#101928]">Data Camp - Intelligence Management and Analysis Platform</h1>
      <p class="text-[#667185] text-lg md:text-2xl my-5">
        Industry standard Intelligence management software
      </p>
      <p class="text-[#344054] text-sm md:text-lg my-5">
        Data Camp is your all-in-one solution for streamlining your intelligence operations. From collecting and processing data to generating reports and disseminating intelligence, Data Camp automates the entire process, saving you time and effort.
      </p>
      <button
        class="bg-white border-2 border-[#E4E7EC] text-[#101928] rounded-lg font-medium py-2 md:py-3 px-3 md:px-5 my-5"
      >
        Learn More
      </button>
    </div>
    <img src="assets/image 55.jpg" alt="" class="shadow-md border border-gray-200" width="100%" />
  </div>

  
  <div class="bg-slate-100 pt-10 my-10 rounded-xl">
    <div class="px-3 md:px-10">
      <h1 class="font-bold text-2xl md:text-4xl my-5 text-[#101928]">Helix</h1>
      <p class="text-[#667185] text-lg md:text-2xl my-5">
        Indigenous and end-to-end encrypted instant messaging application
      </p>
      <p class="text-[#344054] text-sm md:text-lg my-5">
        Helix is a mobile application developed for engaging in instant
        end-to-end communication through text, voice and video. It has support
        for sharing of documents and locations. Additionally, it allows the
        creation of an unlimited number of groups for staying connected and
        engaging in conference calls. It is simple to use, with an intuitive
        interface that users are familiar with. Traditional messaging platforms
        like Whatsapp, Signal, and Telegram, while widely used, pose risks to
        national security due to their reliance on foreign entities. Recognizing
        the importance of independence from third parties and foreign
        nation-states, we developed Helix to remove the dependencies on these
        entities, thereby guaranteeing the privacy of sensitive communications.
      </p>
      <button
        class="bg-white border-2 border-[#E4E7EC] rounded-lg text-[#101928] font-medium py-2 md:py-3 px-3 md:px-5 my-5"
      >
        Learn More
      </button>
    </div>
    <img src="assets/product/image 56.svg" alt="" class="shadow-md border border-gray-200" width="100%" />
  </div>
</div>
