<div class="flex items-center w-screen mt-20 container mx-auto">
  <div class="py-20">
    <div class="px-5">
      <h1 class="font-bold text-start text-3xl md:text-6xl pt-10 text-[#101928] leading-normal lg:leading-[120%] max-w-3xl">
        Check out our established solutions
      </h1>
    </div>
  </div>
</div>
<div class="py-20 container mx-auto">
  <div class="bg-slate-100 pt-10 rounded-xl">
    <div class="px-3 md:px-10">
      <h1 class="font-bold text-2xl md:text-4xl my-5 text-[#101928]">Hydra</h1>
      <p class="text-[#667185] text-lg md:text-2xl my-5">
        Artificial Intelligence based Open Source Intelligence (OSINT) platform
      </p>
      <p class="text-[#344054] text-sm md:text-lg my-5">
        Hydra is a powerful OSINT platform that scans the internet in real-time, extracts critical data, and presents valuable insights on an interactive map. With its advanced analysis capabilities, Hydra helps you stay informed about global events, identify emerging threats, and gain a competitive edge.
      </p>
      <button
        class="bg-white border-2 border-[#E4E7EC] text-[#101928] rounded-lg font-medium py-2 md:py-3 px-3 md:px-5 my-5"
      >
        Learn More
      </button>
    </div>
    <img loading="lazy" src="assets/image 54.jpg" class="shadow-md border max-w-[900px] mx-auto border-gray-200" width="100%" alt="" />

  </div>

  <div class="bg-slate-100 py-10 my-10 rounded-xl">
    <div class="px-3 md:px-10">
      <h1 class="font-bold text-2xl md:text-4xl my-5 text-[#101928]">
        Data Camp
      </h1>
      <p class="text-[#667185] text-lg md:text-2xl my-5">
        Industry standard Intelligence management software
      </p>
      <p class="text-[#344054] text-sm md:text-lg my-5">
        Data Camp is your all-in-one solution for streamlining your intelligence operations. From collecting and processing data to generating reports and disseminating intelligence, Data Camp automates the entire process, saving you time and effort.
      </p>
      <button
        class="bg-white border-2 border-[#E4E7EC] text-[#101928] rounded-lg font-medium py-2 md:py-3 px-3 md:px-5 my-5"
      >
        Learn More
      </button>
    </div>
    <img loading="lazy" src="assets/image 55.jpg" alt="" class="shadow-md border max-w-[900px] mx-auto border-gray-200" width="100%" />
  </div>

  <div class="bg-slate-100 py-10 my-10 rounded-xl">
    <div class="px-3 md:px-10">
      <h1 class="font-bold text-2xl md:text-4xl my-5 text-[#101928]">CIVET AI </h1>
      <p class="text-[#667185] text-lg md:text-2xl my-5">
        <!-- Artificial Intelligence Video Surveillance Software -->
        Enhance situational awareness with our advanced video surveillance analytics software.
      </p>
      <p class="text-[#344054] text-sm md:text-lg my-5">
        Civet is an advanced AI recognition technology that empowers you to scan, identify,
        and track objects in both live and recorded videos. With its real-time detection, recognition, and geospatial analysis capabilities, Civet is a powerful tool for enhancing situational awareness.
      </p>

      <button
        class="bg-white border-2 border-[#E4E7EC] text-[#101928] rounded-lg font-medium py-2 md:py-3 px-3 md:px-5 my-5"
      >
        Learn More
      </button>
    </div>
    <img loading="lazy" src="assets/product/civet.png" alt="" class="shadow-md border max-w-[900px] mx-auto border-gray-200" width="100%" />
  </div>

  <div class="bg-slate-100 py-10 my-10 rounded-xl">
    <div class="px-3 md:px-10">
      <h1 class="font-bold text-2xl md:text-4xl my-5 text-[#101928]">OneSearch </h1>
      <p class="text-[#667185] text-lg md:text-2xl my-5">
        <!-- Real-Time Location Sharing software -->
        Securely manage sensitive documents with our enterprise workflow solution.
      </p>
      <p class="text-[#344054] text-sm md:text-lg my-5">
        OneSearch is a secure and efficient document management system designed for handling sensitive and classified information. With OneSearch, you can easily upload, access, and manage documents from anywhere, while ensuring the highest levels of data protection.
      </p>
      <button
        class="bg-white border-2 border-[#E4E7EC] text-[#101928] rounded-lg font-medium py-2 md:py-3 px-3 md:px-5 my-5"
      >
        Learn More
      </button>
    </div>
    <img loading="lazy" src="assets/product/one-search.png" class="shadow-md border max-w-[900px] mx-auto max-h[500px] border-gray-200" alt="" width="100%" />
  </div>




  <div class="bg-slate-100 py-10 my-10 rounded-xl">
    <div class="px-3 md:px-10">
      <h1 class="font-bold text-2xl md:text-4xl my-5 text-[#101928]">Helix</h1>
      <p class="text-[#667185] text-lg md:text-2xl my-5">
        <!-- Indigenous and end-to-end encrypted instant messaging application -->
        Communicate securely with our end-to-end encrypted messaging platform.
      </p>
      <p class="text-[#344054] text-sm md:text-lg my-5">
        Helix, an indigenous instant messaging application, offers secure and encrypted communication
        channels, including text, voice, and video. It supports document sharing, location sharing,
        and unlimited group creation, while ensuring privacy and independence from foreign entities.
      </p>
      <button
        class="bg-white border-2 border-[#E4E7EC] rounded-lg text-[#101928] font-medium py-2 md:py-3 px-3 md:px-5 my-5"
      >
        Learn More
      </button>
    </div>
    <!-- <img src="assets/product/image 56.svg" alt="" class="shadow-md border border-gray-200" width="100%" /> -->
     <div class="flex gap-4 justify-center md:justify-center lg:justify-between max-w-[900px] pb-8 mx-auto">
      <img loading="lazy" class="h-[400px] hidden md:hidden lg:block" src="/assets/product/helix-splash.png" alt="">
      <img loading="lazy" class="h-[400px] hidden md:hidden lg:block" src="/assets/product/helix-welcome.png" alt="">
      <img loading="lazy" class="h-[400px] hidden md:block lg:block" src="/assets/product/helix-ringing.png" alt="">
      <img loading="lazy" class="h-[400px] block md:block lg:block" src="/assets/product/helix-call.png" alt="">
     </div>
  </div>
</div>
