<div class="flex items-center w-screen h-screen">
    <div class="p-20">
    <div class="">
        <h1 class="font-bold text-start text-6xl pt-10 text-[#101928] max-w-3xl"> Check out our established solutions </h1>
    </div>
    </div>
</div>
<div class="p-20">
<div class="bg-slate-100 p-10">
    <h1 class="font-bold text-4xl my-5 text-[#101928]">Hydra</h1>
    <p class="text-[#667185] text-2xl my-5">Artificial Intelligence based Open Source Intelligence (OSINT) platform</p>
    <p class="text-[#344054] text-lg my-5">Hydra is an open source intelligence (OSINT) platform that scans the internet every minute, extracts critical data, and presents useful information about global events on an interactive map for unparalleled situational awareness. It uses advanced techniques to extract key attributes such as location, time, event types, and so on from unstructured data. Furthermore, it can generate situation reports (SITREPS) and intelligence briefs based on user supplied parameters using artificial intelligence (AI) techniques. Hydra was developed to tackle the evolving nature of big data and information which creates a need for an automated platform that can aid with the visualization and extraction of actionable intelligence from these data.</p>
    <button class="bg-white border-2 border-[#E4E7EC] text-[#101928] font-medium py-3 px-5 my-5">Learn More</button>
</div>
<div class="bg-slate-100 p-10 my-10">
    <h1 class="font-bold text-4xl my-5 text-[#101928]">Data Camp</h1>
    <p class="text-[#667185] text-2xl my-5">Industry standard Intelligence management software</p>
    <p class="text-[#344054] text-lg my-5">DATA CAMP is an intelligence management software that is developed to automate the processes involved in the intelligence cycle. As a specialized database application that is specifically developed for intelligence agencies, it has features for reporting of Human Intelligence (HUMINT) data by field officers, data fusion through integration with unlimited data sources, robust querying and analysis generation and dissemination. DATA CAMP is currently the de facto intelligence management platform of the Defence Intelligence Agency (DIA) where it has significantly improved operations from data collection to intelligence dissemination. This has reportedly led to faster access to actionable intelligence since adoption.</p>
    <button class="bg-white border-2 border-[#E4E7EC] text-[#101928] font-medium py-3 px-5 my-5">Learn More</button>
</div>
<div class="bg-slate-100 p-10 my-10">
    <h1 class="font-bold text-4xl my-5 text-[#101928]">Helix</h1>
    <p class="text-[#667185] text-2xl my-5">Indigenous and end-to-end encrypted instant messaging application</p>
    <p class="text-[#344054] text-lg my-5">Helix is a mobile application developed for engaging in instant end-to-end communication through text, voice and video. It has support for sharing of documents and locations. Additionally, it allows the creation of an unlimited number of groups for staying connected and engaging in conference calls. It is simple to use, with an intuitive interface that users are familiar with. Traditional messaging platforms like Whatsapp, Signal, and Telegram, while widely used, pose risks to national security due to their reliance on foreign entities. Recognizing the importance of independence from third parties and foreign nation-states, we developed Helix to remove the dependencies on these entities, thereby guaranteeing the privacy of sensitive communications.</p>
    <button class="bg-white border-2 border-[#E4E7EC] text-[#101928] font-medium py-3 px-5 my-5">Learn More</button>
</div>
</div>


