.footer-container {
  background: #f5f6f7;
}

.footer-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin: auto;
  color: #171752;
}
.footer-contents {
  flex-basis: 45%;
}

.footer-contents h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}
.footer-contents p {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.map-groupTwo {
  flex-basis: 35%;
  padding: 40px;
}
.btn-footer {
    border: 1px;
  background: #171752;
  color: #ffffff;
  min-width: 220px;
  height: 3rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  border-radius: 6px;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.footer-img {
  flex-basis: 24%;
  margin: 16px 0;
}
.footer-img p {
  color: var(--gray-600, #6A778B);
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; 
  margin-top: 1.4rem;
  width: 80%;
}
.footer-links {
flex-basis: 24%;
margin: 16px 0;
color: var(--gray-900, #061C3D);
}
.footer-links h4 {
font-size: 16px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0.16px;
text-transform: uppercase;
margin: 0;
}

.footer-links h5 {
  font-size: 16px;
font-weight: 400;
line-height: 24px;
margin: 16px 0;
}
.footer-links p {
  color: var(--gray-500, #838E9E);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.footer-texts {
  flex-basis: 24%;
  margin: 16px 0;
}
.social-links {
  flex-basis: 24%;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 3rem 0 0 0;
  }
  .footer-contents {
    flex-basis: 100%;
  }
  .footer-contents h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .footer-contents p {
    font-size: 16px;
  }
  .map-groupTwo {
    display: none;
  }
  .footer-img  {
    flex-basis:80%;
  }
  .footer-links {
    flex-basis: 80%;
  }
  .footer-texts {
    flex-basis: 80%;
  }
  
}
