<footer class="footer-container">
  <div class="footer-contain">
    <div class="footer-contents f-lexend">
      <h2>Let’s work together.</h2>
      <p>
        Leading digital agency with solid design and development expertise. We
        build readymade websites, mobile applications, and elaborate online
        business services.
      </p>
      <button class="btn-footer">Let’s Work Together
        <img src="assets/icons/arrow-right.svg" width="25px" alt="i" />
      </button>
    </div>
    <div class="map-groupTwo">
      <img src="assets/globeOne.png" class="img me-auto" width="100%" alt="i" />

    </div>
  </div>
  <div>
    <h2></h2>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="aiq.ng">aiq.ng</a>
  </div>
</footer>
