.footer-container {
  background: #f5f6f7;
}

.footer-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin: auto;
  color: #171752;
}
.footer-contents {
  flex-basis: 45%;
}

.footer-contents h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}
.footer-contents p {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.map-groupTwo {
  flex-basis: 35%;
  padding: 40px;
}
.btn-footer {
    border: 1px;
  background: #171752;
  color: #ffffff;
  min-width: 220px;
  height: 3rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  border-radius: 6px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 3rem 0 0 0;
  }
  .footer-contents {
    flex-basis: 100%;
  }
  .footer-contents h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .footer-contents p {
    font-size: 16px;
  }
  .map-groupTwo {
    display: none;
  }
}
