<footer class="footer-container">
  <div class="footer-contain">
    <div class="footer-contents f-lexend">
      <h2>Let’s work together.</h2>
      <p>
        Leading digital agency with solid design and development expertise. We
        build readymade websites, mobile applications, and elaborate online
        business services.
      </p>
      <button class="btn-footer" (click)="navigateToContactUs('/contact-us-here')" > Let’s Work Together
        <img src="assets/icons/arrow-right.svg" width="25px" alt="i" />
        
      </button>
    </div>
    <div class="map-groupTwo">
      <img src="assets/globeOne.png" class="img me-auto" width="100%" alt="i" />

    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-img">
      <img src="assets/icons/logo-foot.png" />
      <p class="f-lexend">your go-to AI company for bespoke and turnkey solutions in the defence and intelligence
        industry.</p>
    </div>
    <div class="footer-links f-lexend">
      <h4>Quick Links</h4>
      
      <p class="my-3" style="cursor: pointer;" (click)="navigateToContactUs('/about-us')">About</p>
      <p style="cursor: pointer;" (click)="navigateToContactUs('/capabilities')">Services</p>
    </div>
    <div class="footer-links f-lexend">
      <h4>Our solutions</h4>
      <p class="my-3">Helix</p>
      <p>Civet</p>
    </div>
    <div class="social-links">
      <img src="assets/icons/facebook.png" width="120px" style="margin: 0 0 5px 0; cursor: pointer;" />
      <img src="assets/icons/linkedIn.png" width="120px" style="margin: 5px; cursor: pointer;" />
      <img src="assets/icons/twitter.png" width="120px" style="margin: 5px; cursor: pointer;" />
      <img src="assets/icons/instagram.png" width="120px" style="margin: 5px; cursor: pointer;" />
    </div>
  </div>
  <div style="background: #E6E8EC; height: 2px; margin: 2rem auto 0 auto; width: 90%;"></div>
  <div style="text-align: center; padding: 1.5rem;">
    © 2023 - AIQ
    <a class="text-dark" href="aiq.ng">aiq.ng</a>
  </div>
</footer>