.montserrat {
    font-family: "Montserrat", sans-serif;
  }

  /* news-carousel.component.css */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  