<main class="montserrat bg-[#FFFFFF]">
  <section class="flex justify-center items-center min-h-screen w-full">
    <div class="w-full">
      <div class="text-center container relative z-30 pt-10 md:pt-4 mx-auto w-full px-8">
        <h1 class="text-4xl md:text-6xl font-semibold big mt-5">
           AIQ is Africa's first defence and
        </h1>
        <p class="text-4xl lg:text-6xl font-semibold small my-5">
          Intelligence focused AI company
        </p>
        <!-- <img
        src="assets/heroicon1.svg"
        alt=""
        class="hidden lg:block absolute right-40"
      /> -->
        <p
          class="text-base text-center md:text-xl bg-white lg:text-justify-center m-auto font-normal text my-5 max-w-3xl"
        >
        Our mission is to unlock the insights from data and enable members of the defence and intelligence communities to derive actionable intelligence, faster.
        </p>
      </div>
      <!-- <img
        src="assets/heroicon2.svg"
        alt=""
        class="hidden lg:block absolute left-40"
      /> -->
      <div class="relative h-32 flex items-center justify-center">
        <div class="hidden md:block absolute -top-[60%] w-full -z-10-0 h-72">
          <img
            src="/assets/image/line-bg.svg"
            alt="i"
            width="100%"
            height="288px"
            style="width: 100%; height: 288px"
          />
        </div>
        <div class="block sm:hidden absolute -top-[100px] w-full -z-10-0">
          <div
            class="bg-[url(/assets/icons/home-small.svg)] bg-center bg-no-repeat"
            style="width: 100%; height: 288px"
          ></div>
        </div>
        <a
          ><button (click)="route('contact-us')"
            class="bg-blue-950 py-3 px-6 font-medium rounded-md text-white hover:bg-slate-300 hover:text-blue-800"
          >
            Get in Touch
          </button></a
        >
      </div>
      <!-- <img src="assets/Group 627220.svg" alt="class"> -->
    </div>
  </section>

  <section class="bg-[#171752] py-14 relative">
    <div class="container mx-auto flex justify-center items-center">
      <div class="text-center text-white w-full lg:w-2/3 ">
        <div class="absolute hidden mr-20 md:block">
          <img src="assets/Frame.svg" alt="" class="" />
        </div>
        <div class="w-full relative lg:max-w-3xl mx-auto">
          <button
            class="bg-[#E3EFFC] font-inter text-[#171752] py-2 px-5 rounded-full mb-3 m-auto"
          >
            what we do
          </button>
          <h1
            class="text-2xl font-inter text-gray-50 md:text-4xl font-semibold my-3 max-w-lg m-auto"
          >
            Harnessing AI for a Safer, Smarter Future
          </h1>
          <p class="text-sm font-inter md:text-base my-5 max-w-xl m-auto">
            AIQ is at the forefront of revolutionizing the defense and intelligence industry. Our AI-powered solutions transform raw data into actionable intelligence, enabling organizations to make informed decisions faster and more efficiently. By leveraging advanced algorithms and cutting-edge technologies, we provide a comprehensive suite of tools designed to enhance situational awareness, improve operational efficiency, and protect national security.
          </p>
        </div>
      </div>
    </div>
    <div class="absolute top-1 right-1 z-20">
      <img
        src="assets/Group 384.svg"
        alt=""
        class="ml-auto my-auto md:my-0"
        width="80%"
      />
    </div>
  </section>
</main>
