<section class="p-3 pt-5 w-100 h-50 d-flex flex-center flex-column text-center" style="background-image: url('assets/earth-bg.png'); background-size: cover; background-repeat: no-repeat; background-blend-mode: exclusion;">
    <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    </div>
    
        <span class="text-white mt-5 text-size">
            We Are Exploreres At The Bleeding Edge Of
        </span>
        <span class="text-white pt-3 text-size">
            Artificial Intetlligence.
        </span>
    
</section>
<section class="p-5 w-100 d-flex flex-center flex-column text-start" style="background-color: #fff; color: #001020">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-size" style="color: #171752;">Working at <strong>AIQ</strong> means confronting challenges with <strong>Audaciousness,
                Big-headedness and Creativity</strong> despite the situations
           </div>
           <div class="col-md-6 fs-4" style="color: #171752;">Our misson is to extract insights from data so that members of the defense and intelligence 
                communities can generate actionable intelligence more quickly. <br>
                <br>
                <span>We care deeply about defence and intelligence problems as they affect Africa. 
                    This is why we are Africa's first defence and intelligence-focused AI company.
                </span>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-6" style="color: #171752;">
                <h4 class="text-size" style="font-weight: bold; margin-top: 10rem;">Core values</h4>
                <span class="fs-4">
                    We celebrate diveristy and are committed to creating an inclusive envireonment for all team members.
                    We refer to our core values as the ABCD of AIQ
                </span>
           </div>
           <div class="col-md-6 fs-4" style="color: #171752;">
            <img src="/assets/media/chutzpah.png" alt="test image" class="img img-responsive me-auto">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-size" style="color: #171752;">
                <img src="/assets/media/team-work.png" alt="test image" class="img img-responsive me-auto">
           </div>
           <div class="col-md-6 fs-4" style="color: #171752;">
            <h4 class="text-size" style="font-weight: bold; margin-top: 5rem;">We are better together</h4>
                <br>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                    optio, eaque rerum! Provident similique accusantium nemo autem.
                </span>
            </div>
        </div>
        <br>
        <div class="row" style="margin-top: 7rem ;">
            <div class="col-md-6 text-size" style="color: #171752;">
                <img src="/assets/media/join-our-team.png" alt="test image" class="img img-responsive me-auto">
           </div>
           <div class="col-md-6 fs-4" style="color: #171752;">
            <h4 class="text-size" style="font-weight: bold; margin-top: 5rem;">We are better together</h4>
                <br>
                <span>You Believe You Are Skilled</span>
                <span>Join Our Team</span>
                <br>
                <button class="button-space btn btn-primary btn-lg" style="background-color: #171752; margin-top: 3rem;" >Apply</button>
            </div>
        </div>
    </div>
    
    
</section>
<section class="p-5 pt-5 w-100 h-75 d-flex flex-center flex-column text-start" style="background-image: url('assets/media/engie-1.png'); background-size: cover; background-repeat: no-repeat; background-color: #001020; background-blend-mode: overlay;">
    <span class="text-white fs-2 f-poppins mt-md-5">Our mission is simple:</span>
    <p class="text-white fs-3">
    to use AI to improve the health, security, safety and environment of our community.
    </p>
    <button class="btn btn-primary mt-2 small-btn w-25" routerLink="/capabilities">See how we do this</button>
</section>
<section class="pt-5 p-3 w-100 h-100 d-flex flex-center flex-column text-center" style="background-color: #fff;">
    <span class="fs-2">Our Solutions. </span>
    <p class="fs-5">
    We provide data-based software solutions and infrastructure that cuts across three aspects of the intelligence cycle: 
    </p>
    <span class='fw-bold text-center'>Collections, Processing and Exploitation </span>
    <div class="text-center pt-3">
        <img src="assets/media/solutions.png" class="img img-responsive w-100 w-md-75"/>
    </div>
    <button class="btn btn-primary small-btn w-25 m-auto" routerLink="/capabilities">View Solutions</button>
</section>
<section id="contact-us" class="p-5"></section>