<section style="background: url('assets/media/block.jpg');background-size: cover; background-position: center; background-repeat: no-repeat; background-blend-mode: exclusion; height: 50vh; ">
    <div
    class="contact-container" 
    style="
      background: rgba(23, 23, 82, 0.555);
      padding-top: 40px;
    "
  >
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <span class="f-lexend" >
        We are explorers at the cutting edge of Artificial Intelligence.
    </span>
    </div>
</section>

<section class="p-3 pt-5 w-100  d-flex flex-center flex-column text-start" style="background-color: #fff; color: #001020">
    <div class="container">
        <div class="row">
            <div class="col-md-6 f-lexend" style="color: #171752; font-weight: 500;">
                <h1 class="">Working at <strong>AIQ</strong> means confronting challenges with
                    <strong>Audaciousness,
                        Big-headedness</strong> and <strong>Creativity</strong> despite the situation
                </h1>
            </div>
            <div class="col-md-6 f-mont" style="color: #171752; font-size: 18px">Our misson is to extract insights from data so that
                members of the defense and intelligence
                communities can generate actionable intelligence, faster. <br>
                <br>
                <span>We care deeply about defence and intelligence problems as they affect Africa.
                    This is why we are Africa's first defence and intelligence-focused AI company.
                </span>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-6" style="color: #171752;">
                <h4 class="big-text mobile-margin f-lexend" style="font-weight: bold; margin-top: 5rem;">Core values</h4>
                <span class="f-mont" style="font-size: 18px; line-height: 35px;">
                    We celebrate diversity and are committed to creating an inclusive environment for all team members.
                    Our core values Audaciousness (Chutszpah), Big headedness (Rosh Gadol),
                    and Creativity(Bitzua) Despite the situation (Davka) represent our culture and these values are
                    known as the ABCD of AIQ.
                </span>
            </div>
            <div class="col-md-6 fs-4 " style="color: hsl(240, 56%, 21%);">
                <section aria-label="Newest Photos">
                    <div class="carousel " data-carousel>

                        <button type="button" class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
                        <button type="button" class="carousel-button next" data-carousel-button="next">&#8658;</button>
                        <div>
                            <ul data-slides>
                                <li class="slide" data-active>
                                    <img src="/assets/media/ch.png" alt="">
                                </li>
                                <li class="slide">
                                    <img src="/assets/media/ro.png" alt="">
                                </li>
                                <li class="slide">
                                    <img src="/assets/media/bi.png" alt="">
                                </li>
                                <li class="slide">
                                    <img src="/assets/media/da.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6" style="color: #171752;">
                <img src="/assets/media/.png" alt="test image" width="90%" style="margin: auto;">
            </div>
            <div class="col-md-6 fs-4" style="color: #171752;">
                <h4 class="txt-responsive f-lexend" style="font-weight: bold; margin-top: 5rem; font-size: 2.5rem;">We are
                    better
                    together</h4>
                <br>
                <span class="f-mont" style="font-size: 18px;">At AIQ, we believe that collaboration is key to success in the rapidly evolving world of
                    artificial intelligence. We are committed to building long-term, mutually beneficial relationships
                    with
                    our team and
                    believe that together, we can achieve great things.
                </span>
            </div>
        </div>
        <br>
        <div class="row margin-responsive align-items-center" style="margin-top: 7rem ;">
            <div class="col-md-6" style="color: #171752;">
                <img src="/assets/media/join-our-team.png" alt="test image"
                    class=""  width="90%">
            </div>
            <div class="col-md-6 fs-4" style="color: #171752;">
                <h3 class="h1 f-lexend" style="font-weight: bold; font-size: 35px;">We are looking for world class talent to join us</h3>
                <br>
                <button class="contact-btn f-lexend" style="background-color: #171752;"><a
                        href="https://bit.ly/joinusataiq" target="_blank">Click to Join Our Team</a></button>
            </div>
        </div>
    </div>
</section>