<section class="p-3 pt-5 w-100 h-50 d-flex flex-center flex-column text-center"
    style="background-image: url('assets/earth-bg.png'); background-size: cover; background-repeat: no-repeat; background-blend-mode: exclusion;">
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <span class="text-white mt-5 text-size">
        We are explorers at the cutting edge of Artificial Intelligence.
    </span>

</section>
<section class="p-5 w-100 d-flex flex-center flex-column text-start" style="background-color: #fff; color: #001020">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="color: #171752;">
                <h1 class="big-text">Working at <strong>AIQ</strong> means confronting challenges with
                    <strong>Audaciousness,
                        Big-headedness</strong> and <strong>Creativity</strong> despite the situation
                </h1>
            </div>
            <div class="col-md-6 fs-4" style="color: #171752;">Our misson is to extract insights from data so that
                members of the defense and intelligence
                communities can generate actionable intelligence, faster. <br>
                <br>
                <span>We care deeply about defence and intelligence problems as they affect Africa.
                    This is why we are Africa's first defence and intelligence-focused AI company.
                </span>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-6" style="color: #171752;">
                <h4 class="big-text mobile-margin" style="font-weight: bold; margin-top: 10rem;">Core values</h4>
                <span class="fs-4">
                    We celebrate diveristy and are committed to creating an inclusive envireonment for all team members.
                    We refer to our core values as the ABCD of AIQ
                </span>
            </div>
            <div class="col-md-6 fs-4" style="color: hsl(240, 56%, 21%);">
                <section aria-label="Newest Photos">
                    <div class="carousel" data-carousel>

                        <button type="button" class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
                        <button type="button" class="carousel-button next" data-carousel-button="next">&#8658;</button>
                        <div>
                            <ul data-slides>
                                <li class="slide" data-active>
                                    <img src="/assets/media/ch.png" alt="">
                                </li>
                                <li class="slide">
                                    <img src="/assets/media/ro.png" alt="">
                                </li>
                                <li class="slide">
                                    <img src="/assets/media/bi.png" alt="">
                                </li>
                                <li class="slide">
                                    <img src="/assets/media/da.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="color: #171752;">
                <img src="/assets/media/team-work.png" alt="test image" class="img img-responsive me-auto img-size">
            </div>
            <div class="col-md-6 fs-4" style="color: #171752;">
                <h4 class="txt-responsive" style="font-weight: bold; margin-top: 5rem; font-size: 2.5rem;">We are
                    better
                    together</h4>
                <br>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                    optio, eaque rerum! Provident similique accusantium nemo autem.
                </span>
            </div>
        </div>
        <br>
        <div class="row margin-responsive" style="margin-top: 7rem ;">
            <div class="col-md-6" style="color: #171752;">
                <img src="/assets/media/join-our-team.png" alt="test image" class="img img-responsive me-auto img-size-2">
            </div>
            <div class="col-md-6 fs-4" style="color: #171752;">
                <h3 class="h1" style="font-weight: bold;">We are looking for world class talent to join us on the
                    mission of unlocking the insights from data and enabling members of the defense and intelligence
                    communities to derive actionable intelligence, faster.</h3>
                <br>
                <span>Join Our Team</span>
                <br>
                <button class="button-space btn btn-primary btn-lg"
                    style="background-color: #171752; margin-top: 3rem;">Click to apply</button>
            </div>
        </div>
    </div>
</section>