.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
.contact-container span {
	font-size: 30px;
	line-height: 35px;
	color: #fff;
	margin-bottom: 3rem;
	text-align: center;
}
.text-size {
	padding: 1rem 5rem 0 5rem;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
}

.big-text {
	font-size: 3rem;
}

.scroll-Img {
	position: relative;
	width: 60%;
	height: 50%;
}

.contact-btn {
	border: 1px;
	color: #ffffff;
	min-width: 220px;
	height: 3rem;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	border-radius: 6px;
	cursor: pointer;
}


@media only screen and (max-width: 768px) { 
	.contact-container {
		justify-content: center;
	}
	
}