<div class="text-center mx-auto py-10 montserrat">
    <button class="bg-blue-200 rounded-full px-8 py-2 font-semibold shadow-blue-200 shadow-sm">Reviews</button>
    <h1 class="font-bold text-5xl my-2">About AIQ</h1>
    <p class="font-normal text-lg my-2 w-96">We are at the forefront of harnessing artificial intelligence to redefine the landscape of national defense intelligence. Our cutting-edge solutions empower decision-makers with actionable insights derived from complex data sets. With a deep understa...</p>
    <button class="text-black bg-white py-2 px-4 my-2 border-2 border-gray-500 shadow-md">Read more</button>
</div>
