<section class="montserrat">
<div class="flex items-center justify-center">
    <div class="mx-auto text-center py-10 w-screen max-w-3xl">
    <button class="bg-blue-200 rounded-full px-8 py-2 mt-5 font-semibold shadow-blue-200 shadow-sm">Reviews</button>
    <h1 class="font-bold text-5xl my-5">About AIQ</h1>
    <p class="font-normal text-lg my-5">We are at the forefront of harnessing artificial intelligence to redefine the landscape of national defense intelligence. Our cutting-edge solutions empower decision-makers with actionable insights derived from complex data sets. With a deep understa...</p>
    <button class="text-black bg-white py-2 px-4 my-2 border-2 border-gray-500 shadow-md">Read more</button>
    </div>
</div>

<div class="flex overflow-x-auto mx-10">
<div *ngFor="let review of reviewItem">
    <div class="max-w-[500px] max-h-[500px] p-10 mx-5 bg-[#E4E7EC] shadow-md border-2">
        <div class="my-5">
            <img [src]= review.image alt="" class="rounded-full">
        </div>
        <div class="">
            <h1>{{ review.content }}</h1>
        </div>
        <div class="flex mt-5">
            <img [src]= review.profile alt="" class="rounded-full">
            <div class="mx-2">
                <h1 class="font-semibold text-lg">{{ review.name }}</h1>
                <p class="font-light"> {{ review.office }}</p>
            </div>

        </div>
    </div>
       
</div>
</div>
</section>
