<section class="section-container">
  <div class="section-cover">
    <div class="section-text">
      <h2>Our Solution</h2>
      <p>
        Cras imperdiet est eget nulla fringilla, sit amet volutpat sem
        tristique. Pellentesque quis augue ac mauris posuere vehicula.
      </p>
    </div>
    <div></div>
  </div>
</section>
<!-- <section class="p-3 w-100 d-flex flex-center flex-column text-center" style="background-color: #fff; color: #001020">
    <span class="fs-3 f-poppins mt-md-5 fw-bolder">OUR SOLUTIONS</span>
</section>
<section class="p-3 me-auto w-100 row text-center">
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/data-collection.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
                <p class="card-text fw-bolder">SPATIO-TEMPORAL DATA COLLECTION</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/data-exploitation.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
            <p class="card-text fw-bolder">DATA EXPLOITATION AND ENGINEERING</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/geo-ai.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
            <p class="card-text fw-bolder">GEOSPATIAL ARTIFICIAL INTELLIGENCE</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/data-infra.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
                <p class="card-text fw-bolder">BIG DATA INFRASTRUCTURE</p>
            </div>
        </div>
    </div>
</section>
<section class="p-5 pt-5 w-100 h-75 d-flex flex-center flex-column text-start" style="background: linear-gradient(128deg, rgba(12,12,67,1) 72%, rgba(90,90,168,1) 0%),  url('assets/media/img13.1252795d.jpg'); background-size: cover; background-repeat: no-repeat;">
    <p class="text-white fs-5">
        Looking for an edge in national security and development? Look no further than AIQ. Our world-class solutions are designed to provide Nigerian intelligence agencies, policymakers, and other stakeholders with a decisive advantage.
    </p>
    <p class="text-white fs-5">
        With AIQ, you can tap into the power of geospatial data to gain valuable insights and make informed decisions. Our cutting-edge technology and expertise allow us to analyze complex data sets, identify patterns and trends, and deliver actionable insights that can help you achieve your goals.
    </p>

    
    <p class="text-white fs-5">
        So, what can your organization gain from geospatial data? The possibilities are endless. From tracking the movement of people and resources to mapping infrastructure and identifying potential threats, geospatial data can be a powerful tool for enhancing situational awareness, improving planning and decision-making, and driving success.
    </p>

    <span class="text-white fs-5 f-poppins mt-md-5">
        Ready to take your organization to the next level? Partner with AIQ and unlock the power of geospatial data today.
    </span>
    <button class="btn btn-primary mt-2 small-btn w-25" routerLink="/capabilities">Contact Us</button>
</section> -->
<!-- <section class="p-3 w-100 d-flex flex-center flex-column text-center" style="background-color: #fff; color: #001020"> -->
<!-- <span class="fs-3 f-poppins mt-md-5 fw-bolder">OUR SOLUTIONS</span>
</section>
<section class="p-3 me-auto w-100 row text-center">
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/data-collection.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
                <p class="card-text fw-bolder">SPATIO-TEMPORAL DATA COLLECTION</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/data-exploitation.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
            <p class="card-text fw-bolder">DATA EXPLOITATION AND ENGINEERING</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/geo-ai.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
            <p class="card-text fw-bolder">GEOSPATIAL ARTIFICIAL INTELLIGENCE</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/data-infra.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
                <p class="card-text fw-bolder">BIG DATA INFRASTRUCTURE</p>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="p-5 pt-5 w-100 h-75 d-flex flex-center flex-column text-start" style="background: linear-gradient(128deg, rgba(12,12,67,1) 72%, rgba(90,90,168,1) 0%),  url('assets/media/img13.1252795d.jpg'); background-size: cover; background-repeat: no-repeat;">
    <p class="text-white fs-5">
        Looking for an edge in national security and development? Look no further than AIQ. Our world-class solutions are designed to provide Nigerian intelligence agencies, policymakers, and other stakeholders with a decisive advantage.
    </p>
    <p class="text-white fs-5">
        With AIQ, you can tap into the power of geospatial data to gain valuable insights and make informed decisions. Our cutting-edge technology and expertise allow us to analyze complex data sets, identify patterns and trends, and deliver actionable insights that can help you achieve your goals.
    </p>

    
    <p class="text-white fs-5">
        So, what can your organization gain from geospatial data? The possibilities are endless. From tracking the movement of people and resources to mapping infrastructure and identifying potential threats, geospatial data can be a powerful tool for enhancing situational awareness, improving planning and decision-making, and driving success.
    </p>

    <span class="text-white fs-5 f-poppins mt-md-5">
        Ready to take your organization to the next level? Partner with AIQ and unlock the power of geospatial data today.
    </span>
    <button class="btn btn-primary mt-2 small-btn w-25" routerLink="/capabilities">Contact Us</button>
</section> -->
