.section-container {
  padding: 40px 20px;
  background: var(--gray-00, #fff);
}
.section-cover {
  width: 90%;
  margin: 6rem auto 4rem auto;
}
.section-text {
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
}
.section-text h2 {
  flex-basis: 65%;
  font-size: 56px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.84px;
}


.solution-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}
.solution-contentTwo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.solution-text {
  flex-basis: 35%;
}

.video-control {
  flex-basis: 30%;
}
.video-controlTwo {
  flex-basis: 40%;
  margin: 0;
}
.solution-text h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.solution-text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.div-btn {
  margin-top: 45px;
}
.btn-details {
  border: 1px;
  border-radius: 7px;
  background: var(--primary-50, #f0f5ff);
  color: var(--aiq-dark-color, #171752);
  min-width: 120px;
  height: 3rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  cursor: pointer;
}
.btn-details:hover {
  border: 1px solid #171752;
}


@media only screen and (max-width: 768px) {
 .section-container {
  padding: 10px;
 }
 .section-cover {
  margin: 0;
 }
 .div-btn {
margin-top: 15px;
 }
  .section-text {
    flex-direction: column;
    margin: 10px 0;
  }
  .section-text h2 {
    font-size: 30px;
    line-height: 40px; 
  }

  .solution-content {
    flex-direction: column;
  }
  .solution-contentTwo {
    flex-direction: column;
  }
  
}