<section class="p-3 w-100 d-flex flex-center flex-column text-center" style="background-color: #fff; color: #001020">
    <span class="fs-3 f-poppins mt-md-5 fw-bolder">OUR SOLUTIONS</span>
</section>
<section class="p-3 me-auto w-100 row text-center">
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/data-collection.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
                <p class="card-text fw-bolder">SPATIO-TEMPORAL DATA COLLECTION</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/data-exploitation.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
            <p class="card-text fw-bolder">DATA EXPLOITATION AND ENGINEERING</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/geo-ai.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
            <p class="card-text fw-bolder">GEOSPATIAL ARTIFICIAL INTELLIGENCE</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <div class="card m-auto">
            <video class="card-img-top" src="/assets/media/vids/data-infra.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            <div class="card-body">
                <p class="card-text fw-bolder">BIG DATA INFRASTRUCTURE</p>
            </div>
        </div>
    </div>
</section>
<section class="p-5 pt-5 w-100 h-75 d-flex flex-center flex-column text-start" style="background-image: url('assets/media/img13.1252795d.jpg'); background-size: cover; background-repeat: no-repeat;">
    <p class="text-white fs-5">
       At AIQ, we deliver world-class solutions that provides a decisive advantage to the Nigerian Intelligence Agencies, Policy Makers and the stakeholders responsible for national development.
    </p>

    <span class="text-white fs-5 f-poppins mt-md-5">
        What can your organization profit from Geospatial Data?
    </span>
    <button class="btn btn-primary mt-2 small-btn w-25" routerLink="/capabilities">Find out</button>
</section>