.montserrat {
  font-family: "Montserrat", sans-serif;

}

.bg-card {
  background-color: #171752;
  
}
.content {
  background: rgba(0, 0, 0, 0.7);
  opacity: 3 0 60 800;
 
}

.height {
  max-height: 500px;
}

