<section class="relative">
  <div class="relative">
    <video
      src="assets/hydra.mp4"
      autoplay
      muted
      loop
      width="100%"
      height="100%"
      class="relative z-0"
    ></video>
    <div
      class="absolute z-10 bottom-0 text-white flex items-center justify-center content montserrat w-full h-full"
    >
      <div class="ml-2 pt-10 lg:ml-20">
        <h1 class="text-xl lg:text-5xl font-bold my-2 lg:my-10 font-inter">Hydra</h1>
        <p class="text-xs font-inter lg:text-xl w-full lg:w-1/3 my-4">
          Hydra is an AI platform that scans the internet every minute, extracts
          critical data, and presents useful information about global events on
          an interactive map for unparalleled situational awareness.
        </p>
        
        <button
          class="py-2 font-inter md:py-3 px-6 text-sm lg:px-10 my-3 bg-white text-black font-medium rounded-lg hover:bg-slate-400"
        >
          Try a Demo
        </button>
        <button
          class="py-2 font-inter md:py-3 px-6 lg:px-10 text-sm my-3 bg-black text-white font-medium rounded-lg hover:bg-gray-900 mx-2"
          id="btn"
        >
          Play
        </button>
    </div>
      
    </div>
  </div>
</section>

<section class="py-6 mt-6 lg:py-20 montserrat relative">
  <div class="text-center mx-auto">
    <button
      class="bg-[#E3EFFC] font-inter text-[#171752] rounded-full px-8 py-2 font-medium"
    >
      Our other products
    </button>
    <h1 class="font-bold text-2xl lg:text-5xl font-inter text-[#101928] my-2">Other Products</h1>
  </div>
  <div class="flex flex-wrap gap-3 lg:flex-nowrap m-0 lg:m-10">
    <div class="rounded-xl mx-5 my-5 border-2 border-transparent shadow-md">
      <div class="rounded-t-xl bg-card">
        <img src="assets/image 47.png" alt="" class="mx-auto h-60 w-auto" />
      </div>
      <div class="bg-[#F9FAFB] p-5">
        <h1 class="font-bold text-[#101928] text-2xl font-inter my-2">Data Camp</h1>
        <p class="text-[#344054] font-medium font-inter">
          Hydra is an AI platform that scans the internet every minute, extracts
          critical data, and presents useful information
        </p>
      </div>
    </div>
    <div class="rounded-xl mx-5 my-5 border-2   border-transparent shadow-md">
      <div class="rounded-t-xl bg-card">
        <img src="assets/image 48.jpg" alt="" class="mx-auto h-60 w-auto" />
      </div>
      <div class="bg-[#F9FAFB] p-5">
        <h1 class="font-bold text-[#101928] font-inter text-2xl my-2">Helix</h1>
        <p class="text-[#344054] font-inter font-medium">
          Hydra is an AI platform that scans the internet every minute, extracts
          critical data, and presents useful information
        </p>
      </div>
    </div>
    <div class="rounded-xl mx-5 my-5 border-2   border-transparent shadow-md">
      <div class="rounded-t-xl bg-card">
        <img src="assets/image 50.jpg" alt="" class="mx-auto h-60 w-auto" />
      </div>
      <div class="bg-[#F9FAFB] p-5">
        <h1 class="font-bold text-2xl text-[#101928] font-inter my-2">Civet AI</h1>
        <p class="text-[#344054] font-inter font-medium">
          Hydra is an AI platform that scans the internet every minute, extracts
          critical data, and presents useful information
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <button class="px-5 py-4 font-inter bg-card mt-4 text-white font-medium rounded-md flex">
      <span class="mx-5">Check out our products </span
      ><img src="assets/arrow-right.svg" alt="" />
    </button>
  </div>
</section>
