<section class="relative">
  <div class="relative">
    <div
      class="px-4 bg-white   flex items-center justify-center content montserrat w-full h-full"
    >
      <div class="ml-2 py-5 lg:ml-20 bg-white text-center">
        <h1
          class="text-lg text-gray-900 lg:text-4xl leading-10 font-bold my-1 lg:my-10 font-inter"
        >
          Experience HYDRA: The Future of <br />Intelligence Gathering
        </h1>
        <p class="text-[10px] text-gray-700 font-inter lg:text-xl w-full lg:w-1/2 mx-auto">
          Experience the power of Hydra, our cutting-edge OSINT platform. Watch
          as Hydra seamlessly scans the internet, extracts critical data, and
          presents valuable insights on an interactive map. Discover how Hydra's
          advanced techniques enable you to stay informed about global events
          and make data-driven decisions.
        </p>

        <button
          class="py-2 font-inter md:py-3 px-6 text-sm lg:px-10 my-0 md:my-3 bg-gray-200 text-black font-medium rounded-lg hover:bg-slate-400"
        >
          Try a Demo
        </button>
        <button
          class="py-2 font-inter md:py-3 px-6 lg:px-10 text-sm my-3 bg-black text-white font-medium rounded-lg hover:bg-gray-900 mx-2"
          id="btn"
        >
          Play
        </button>
      </div>
    </div> <video
    src="assets/hydra.mp4"
    autoplay
    muted
    loop
    width="100%"
    height="100%"
    class="relative z-0"
  ></video>
  </div>
</section>

<section class="py-8 my-10 lg:py-20 montserrat relative">
  <div class="text-center mx-auto">
    <button
      class="bg-[#E3EFFC] font-inter text-sm text-[#171752] rounded-full px-8 py-2 mb-4 font-medium"
    >
      Our Solutions
    </button>
    <h1
      class="font-semibold text-2xl md:text-5xl font-inter text-[#101928] my-2"
    >
      Our suite of innovative solutions
    </h1>
  </div>
  <div
    class="flex flex-wrap justify-center gap-3 lg:flex-nowrap m-0 container mx-auto"
  >
    <div
      class="w-11/12 md:w-5/12 lg:w-2/6 rounded-xl mx-auto my-5 border-2 border-transparent shadow-md bg-[#F9FAFB]"
    >
      <div class="rounded-t-xl bg-card">
        <img src="assets/image 47.png" alt="" class="mx-auto h-60 w-auto" />
      </div>
      <div class="p-5">
        <h1 class="font-semibold text-[#101928] text-2xl font-inter my-2">
          Data Camp
        </h1>
        <p class="text-[#344054] font-medium font-inter">
          Automate intelligence cycles with our comprehensive intelligence
          management software.
        </p>
      </div>
    </div>
    <div
      class="w-11/12 md:w-5/12 lg:w-2/6 rounded-xl mx-auto my-5 border-2 border-transparent shadow-md bg-[#F9FAFB]"
    >
      <div class="rounded-t-xl bg-card">
        <img src="assets/image 48.jpg" alt="" class="mx-auto h-60 w-auto" />
      </div>
      <div class="p-5">
        <h1 class="font-bold text-[#101928] font-inter text-2xl my-2">Helix</h1>
        <p class="text-[#344054] font-inter font-medium">
          Communicate securely with our end-to-end encrypted messaging platform.
        </p>
      </div>
    </div>
    <div
    class="w-11/12 md:w-5/12 lg:w-2/6 rounded-xl mx-auto my-5 border-2 border-transparent shadow-md bg-[#F9FAFB]"
  >
    <div class="rounded-t-xl bg-card">
      <img src="assets/product/one-search.png" alt="" class="mx-auto h-60 w-auto" />
    </div>
    <div class="p-5">
      <h1 class="font-bold text-[#101928] font-inter text-2xl my-2">One Search</h1>
      <p class="text-[#344054] font-inter font-medium">
        Securely manage sensitive documents with our enterprise workflow solution.
      </p>
    </div>
  </div>
    <div
      class="w-11/12 md:w-5/12 lg:w-2/6 rounded-xl mx-auto my-5 border-2 border-transparent shadow-md bg-[#F9FAFB]"
    >
      <div class="rounded-t-xl bg-card">
        <img src="assets/image 50.jpg" alt="" class="mx-auto h-60 w-auto" />
      </div>
      <div class="p-5">
        <h1 class="font-bold text-2xl text-[#101928] font-inter my-2">
          Civet AI
        </h1>
        <p class="text-[#344054] font-inter font-medium">
          Enhance situational awareness with our advanced video surveillance
          analytics software.
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <button
      class="px-5 py-4 font-inter bg-card mt-4 text-white font-medium rounded-md flex"
    >
      <span class="mx-5">Check Out Other products </span
      ><img src="assets/arrow-right.svg" alt="" />
    </button>
  </div>
</section>
