.page-section {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-page {
    text-align: center;
}

.div-page h1 {
color: #171752;
}
.div-page p {
    color: #171752;
}
.btn-page {
    border: 1px;
    background: #171752;
    color: #ffffff;
    min-width: 180px;
    height: 3rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    border-radius: 6px;
    cursor: pointer;
}


  .btn-page:hover {
    border: 2px solid goldenrod;
    color: goldenrod;
  }