<section class="container mx-auto">
  <div class="flex items-center p-8">
    <div
      class="w-full rounded-2xl mx-auto p-10 text-left md:text-center text-white relative bg-[#22222E]"
    >
      <div
        class="bg-[url(/assets/icons/career-img.svg)] z-10 h-32 w-4/5 md:w-11/12 top-20 absolute bg-center bg-no-repeat"
      ></div>
      <div class="relative z-10">
        <p class="my-2">CONVINCED?</p>
        <h1 class="text-3xl font-bold my-2">Gain a Competitive Edge</h1>
        <p class="max-w-80 mx-0 md:mx-auto my-2">
          Let us utilize our creativity and expertise to create products that
          deliver wonderful results.
        </p>
        <button class="p-3 my-2 text-black font-medium bg-white rounded-md">
          Get in touch
        </button>
      </div>
    </div>
  </div>
</section>
