<!-- <section class="montserrat body">
<div class=" w-screen py-10 bg-[#171752]">
    <div class="bg-white mx-auto w-2/3 py-10 px-16 rounded-2xl"> 
        <h1 class="font-bold text-4xl text-center my-5">Contact Us</h1>
        
        <div class="">
        <div class="flex">
        <div class="">
            <p class="text-lg font-semibold my-2"> Name </p>
            <input type="text" placeholder="Type in your name" name="name" size="40" class="border-2 border-gray-500 px-5 py-2 my-1 rounded-lg">
        </div>
        <div class="">
            <p class="text-lg font-semibold my-2 mx-6"> Phone Number </p>
            <input type="text" placeholder="Type in your Phone Number" name="Phone" size="40" class="border-2 border-gray-500 px-5 py-2 mx-6 my-1 rounded-lg">
        </div>
        </div>
        <div class="">
            <p class="text-lg font-semibold my-2"> E-mail </p>
            <input type="email" placeholder="Type in your E-mail" name="email" size="90"  class="border-2 border-gray-500 px-5 py-2 rounded-lg">
        </div>
        <div class="">
            <p class="text-lg font-semibold my-2"> Message </p>
            <textarea name="" id="" rows="7" cols="100" class="border-2 border-gray-500 rounded-lg" placeholder="Type in your message">

            </textarea>
        </div>
        <div class="flex justify-center">
            <button class="px-10 py-3 bg-[#171752] text-white font-semibold rounded-md flex"> Send </button>
        </div>    
        </div> 
    </div> 
</div>
</section> -->

<section class="montserrat">
    <div class="w-screen flex items-center p-8">
        <div class="w-full rounded-2xl mx-auto p-10 text-center text-white bg-[#22222E]">
            <p class="my-2">CONVINCED?</p>
            <h1 class="text-3xl font-bold my-2"> Gain a Competitive Edge </h1>
            <p class="max-w-80 mx-auto my-2"> Let us utilize our creativity and expertise to create products that deliver wonderful results. </p>
            <button class="p-3 my-2 text-black bg-white rounded-md">Get in touch</button>
        </div>
    </div>




</section>

