
<section class="montserrat">
    <div class="w-screen flex items-center p-8">
        <div class="w-full rounded-2xl mx-auto p-10 text-center text-white bg-[#22222E]">
            <p class="my-2">CONVINCED?</p>
            <h1 class="text-3xl font-bold my-2"> Gain a Competitive Edge </h1>
            <p class="max-w-80 mx-auto my-2"> Let us utilize our creativity and expertise to create products that deliver wonderful results. </p>
            <button class="p-3 my-2 text-black bg-white rounded-md">Get in touch</button>
        </div>
    </div>




</section>

