<section class="h-screen flex items-center relative ">
  <div class="bg-[url(/assets/icons/career-bg.svg)] h-5/6 w-full absolute bg-no-repeat bg-cover z-10 bg-white"></div>
  <div class="text-center container mx-auto text-black px-4 w-screen relative z-20">
    <h1
      class="font-semibold text-3xl md:text-6xl text-[#101928] my-5 max-w-2xl mx-auto"
    >
      Shape the Future with AIQ
    </h1>
    <p class="text-xl text-[#344054] my-5 max-w-xl mx-auto">
      Work with a passionate team of innovators as we push the boundaries of what’s possible with AI.
    </p>
    <button (click)="submit()" class="shadow-md text-[#171752] rounded-md p-3 my-2 border-2 border-[#E4E7EC]">
      Send an Application
    </button>
  </div>
</section>

<section class="min-h-screen w-screen bg-gray-50 py-20">
  <div class="text-center mb-10 px-5">
    <h1 class="font-semibold text-2xl md:text-4xl text-[#101928]">
      Why You Should Work With Us
    </h1>
  </div>

  <div class="flex justify-center flex-col md:flex-row flex-wrap gap-6">
    <div class=" rounded-xl">
      <div
        class="shadow-sm border border-[#D0D5DD] w-11/12 mx-auto md:w-[300px] h-72 md:h-[292px] rounded-xl"
      >
        <p class="text-xl font-medium p-5">Live and Work from Anywhere</p>
        <img class="mx-0 md:mx-auto" src="assets/Home.svg" alt="" />
      </div>
      <div
      class="shadow-md border-1 border-transparent w-11/12 mx-auto md:w-[300px] bg-[url(/assets/workspace.svg)] h-64 md:h-[292px] bg-no-repeat bg-cover mt-5 md:mt-8 rounded-xl"
      >
        <p class="font-medium text-xl text-white p-3">Cozy Office Spaces</p>
      </div>
    </div>

    <div
      class="bg-[#171752] bg-[url(/assets/work-gradient.svg)] bg-bottom bg-no-repeat bg-cover w-11/12 mx-auto md:mx-0 md:w-[300px] border-1 border-[#D0D5DD] rounded-xl"
    >
      <p class="text-white font-medium text-xl p-5">
        Impactful Work
      </p>
      <div class="flex items-end h-5/6">
        <img src="assets/BA.svg" alt="" class="mx-auto w-2/5 md:w-full" />
      </div>
    </div>

    <div class="mx-0 flex flex-col gap-4  lg:gap-8 rounded-xl">
      <div
        class="shadow-md md:my-0  border-1 border-transparent bg-[url(/assets/collabo-img.svg)] bg-center bg-no-repeat bg-cover w-11/12  mx-auto md:mx-0 md:w-[600px] min-h-[300px] mb-5 rounded-xl"
      >
        <p class="font-medium text-xl text-white p-3 max-w-sm">
          Collaborative<br /> Team Work
        </p>
      </div>
      <div
        class="shadow-md  border border-[#D0D5DD] w-11/12 mx-auto md:mx-0 md:w-[600px] h-auto md:min-h-[300px] rounded-xl flex flex-col md:flex-row"
      >
        <p class="font-medium text-xl text-black p-3 w-full ">
          Continuous Learning and Development
        </p>
        <img src="assets/BM.svg" alt="" class="w-1/2 md:w-4/5 mx-4" />
      </div>
    </div>
  </div>
</section>
