<section class="font-inter container mx-auto">
  <div class="flex items-center justify-center">
    <div class="mx-auto text-center py-10 w-screen max-w-3xl">
      <button
        class="bg-[#E3EFFC] text-[#171752] rounded-full px-8 py-2 mt-5 font-medium"
      >
        Reviews
      </button>
      <h1 class="font-bold text-2xl md:text-5xl  my-5">About AIQ</h1>
      <p class="font-normal text-[#344054] text-base md:text-lg my-5">
        We are at the forefront of harnessing artificial intelligence to
        redefine the landscape of national defense intelligence. Our
        cutting-edge solutions empower decision-makers with actionable insights
        derived from complex data sets. With a deep understa...
      </p>
      <button (click)="navigateHandler()"
        class="text-[#171752] bg-white py-2 px-4 my-2 rounded-md border-2 border-transparent hover:bg-black hover:text-white shadow-md"
      >
        Read more
      </button>
    </div>
  </div>

  <div class="flex items-center  justify-end my-5 me-5">
    <button (click)="goLeft()" class="bg-[#F0F2F5] text-[#344054] px-2 py-1 mx-2 rounded-full">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2em"
        height="2em"
        viewBox="0 0 16 9"
      >
        <path
          fill="#344054"
          d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5"
        />
        <path
          fill="#344054"
          d="M6 8.5a.47.47 0 0 1-.35-.15l-3.5-3.5c-.2-.2-.2-.51 0-.71L5.65.65c.2-.2.51-.2.71 0s.2.51 0 .71L3.21 4.51l3.15 3.15c.2.2.2.51 0 .71c-.1.1-.23.15-.35.15Z"
        />
      </svg>
    </button>
    <button (click)="goRight()" class="bg-[#F0F2F5] text-[#344054] px-2 py-1 mx-2 rounded-full">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2em"
        height="2em"
        viewBox="0 0 16 9"
      >
        <path
          fill="#344054"
          d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5"
        />
        <path
          fill="#344054"
          d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z"
        />
      </svg>
    </button>
  </div>
  <div class="flex scrollbar-hide overflow-x-auto gap-4" #reviewsCarousel>
    <div *ngFor="let review of reviewItem">
      <div
        class="max-w-[400px] h-full min-h-[400px] min-w-[400px] p-6 md:p-10 bg-[#F9FAFB] border-[#E4E7EC] rounded-xl shadow-sm border-2"
      >
        <div class="my-5">
          <img [src]="review.image" alt="" class="rounded-full object-fill w-12 h-12" />
        </div>
        <div class="">
          <h1 class="font-normal text-[#344054] font-inter text-base capitalize">{{ review.content }}</h1>
        </div>
        <div class="flex mt-5">
          <!-- <img [src]="review.profile" alt="" class="rounded-full" /> -->
          <div class="mx-2 font-inter">
            <h1 class="font-medium text-[#344054] text-lg capitalize">{{ review.name }}</h1>
            <p class="font-light text-[#344054] text-xs capitalize">{{ review.office }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
