
<section class="">
    <div class="relative">
    <video src="assets/hydra.mp4" autoplay muted loop width="100%" height="100%" class="relative z-0">    
    </video>
    <div class="absolute z-10 bottom-0 text-white flex items-center justify-center content montserrat w-full h-full">
        <div class="ml-20">
            <h1 class="text-5xl font-bold my-10">Hydra</h1>
            <p class="text-xl w-1/3 my-5">Hydra is an AI platform that scans the internet every minute, extracts critical data, and presents useful information about global events on an interactive map for unparalleled situational awareness.</p>
            <button class="py-3 px-10 my-3 bg-white text-black font-semibold rounded-lg hover:bg-slate-400">Try Demo</button>
            <button class="py-3 px-10 my-3 bg-black text-white font-semibold rounded-lg hover:bg-gray-900 mx-2" id="btn">Play Video</button>
        </div>
        </div>
    </div>
    
    
    </section> 






<section class="p-20 montserrat">
    <div class="text-center mx-auto">
        <button class="bg-blue-200 rounded-full px-8 py-2 font-semibold shadow-blue-200 shadow-sm">Our other products</button>
        <h1 class="font-bold text-5xl my-2">Other products</h1>
    </div>
    <div class="flex justify-around my-10">
    <div class="lg:w-96 rounded-xl border-2 border-gray-300" >
        <div class="bg-card rounded-t-lg">
        <img src="assets/image 47.png" alt="" class="rounded-t-xl h-1/2">
        </div>
        <div class="bg-white p-5">
        <h1 class="font-bold text-2xl my-2">Data Camp</h1>
        <p class="">Hydra is an AI platform that scans the internet every minute, extracts critical data, and presents useful information</p>
        </div>
    </div>
    <div class="lg:w-96 rounded-xl border-2 border-gray-300" >
        <div class="bg-card"></div>
        <img src="" alt="" class="bg-card h-1/2 rounded-t-xl">
        <div class="bg-white p-5">
        <h1 class="font-bold text-2xl my-2">Helix</h1>
        <p class="">Hydra is an AI platform that scans the internet every minute, extracts critical data, and presents useful information</p>
        </div>
    </div>
    <div class="lg:w-96 rounded-xl border-2 border-gray-300" >
        <div class="bg-card"></div>
        <!-- <img src="" alt="" class="bg-card h-1/2 rounded-t-xl"> -->
        <div class="bg-white p-5">
        <h1 class="font-bold text-2xl my-2">Civet AI</h1>
        <p class="">Hydra is an AI platform that scans the internet every minute, extracts critical data, and presents useful information</p>
        </div>
    </div>
    </div>
    <div class="flex justify-center">
        <button class="px-5 py-3 bg-card text-white font-semibold rounded-md flex"><span class="mx-5">Check out our products </span><img src="assets/arrow-right.svg" alt=""></button>
    </div>





</section> 


