
<navigation-header></navigation-header>

<app-home style="background: #171752;"></app-home>

<app-footer></app-footer>


<div class="wrapper">
 <!-- <div id="globe-bg" #globeViz></div> -->
  <!-- <section id="main-front" class="text-white">
    <div class="top row"></div>

    <div class="d-flex p-md-5 flex-column justify-content-between h-100">
      <div class="d-flex p-3">
        <div class="me-auto fw-bolder fs-1"><img src="assets/media/logos/aiq-logo.png"
            class="img img-responsive logo-width me-auto" alt="AIQ logo"> </div>
        <div class="float-end text-end d-none d-md-block">
          <p class="fs-6 text-white-50">
            For enqui
            For 
            <a class="btn-link fs-5 text-white-50" href="mailto:info@aiq.ng">info@aiq.ng</a>
          </p>
        </div>
      </div>
      <div class="mt-auto d-flex flex-column flex-md-row align-items-center">
        <div class="intro-text p-3 f-nunito">We are Africa's first defence and intelligence focused AI company.</div>
        <div class="col-md-2 float-end p-0 pt-3 p-md-5 fs-6 text-white-50 mobile-tabs"
          style="padding-right:0!important">
          <div class="p-0 border border-white rounded h-100 d-flex flex-row flex-md-column justify-content-between">
            <div class="p-2 col border-bottom border-white other-link"><button
                class="w-100 h-100 btn btn-outline-secondary border-0 text-md-start text-center text-white custom-button"
                 [routerLink]="'about-us'"><span
                  class="d-md-none d-sm-block text-center">+<br /></span>WHO WE ARE <span
                  class="d-none d-md-block float-end">+</span></button></div>
            <div class="p-2 col border-bottom border-white mid-link"><button
                class="w-100 h-100 btn btn-outline-secondary border-0 text-md-start text-center text-white custom-button"
                 [routerLink]="'capabilities'"><span
                  class="d-md-none d-sm-block text-center">+<br /></span>WHAT WE DO <span
                  class="d-none d-md-block float-end">+</span></button></div>
            <div class="p-2 col other-link"><button
                class="w-100 h-100 btn btn-outline-secondary border-0 text-md-start text-center text-white custom-button"
                 [routerLink]="'contact-us'"><span
                  class="d-md-none d-sm-block text-center">+<br /></span>WORK WITH US<span
                  class="d-none d-md-block float-end">+</span></button></div>
          </div>
        </div>
      </div>
    </div>
  </section>   -->
    
  
   <ng-template #content let-offcanvas>
    <div class="offcanvas-header" style="z-index: 2">
      <h4 class="offcanvas-title txt-center fs-poppins fw-bolder fs-1 w-style"><img src="assets/media/logos/aiq-logo2.png"
          alt="AIQ logo" class="img img-responsive logo-width2 me-auto"></h4>
      <button class="button-space btn btn-primary btn-lg" style="background-color: #171752;" data-bs-toggle="pill"
        [routerLink]="'contact-us-here'">Contact us 
      
      </button>
      <!-- <button type="button" class="btn-close" (click)="offcanvas.dismiss('Cross click')"></button> -->
      <button type="button" class="btn-close" (click)="closeCanvas()"></button>
    </div>
    <div class="offcanvas-body f-nunito p-0">
      <div id="menu-wrapper" class=" border border-white d-none d-md-block" style="z-index: 1">
        <div class="d-flex align-items-start h-100" style="background-color: rgb(255 255 255 / 100%);">
          <div class="nav flex-column nav-tabs tabs-right vertical-text mt-auto h-75" role="tablist"
          aria-orientation="vertical">
          <li class="mt-auto nav-link fw-bold d-inline" data-bs-toggle="pill" role="tab"
            style="padding-top: 100px; width: 130px; cursor: pointer;" [routerLink]="'about-us'">WHO WE ARE</li>
            <li class="mt-auto nav-link fw-bold" data-bs-toggle="pill" role="tab"
              style="padding-top: 100px; width: 130px;" [routerLink]="'capabilities'">WHAT WE DO</li>
              <li class="mt-auto nav-link fw-bold" data-bs-toggle="pill" role="tab"
                style="padding-top: 100px; width: 130px;" [routerLink]="'contact-us'">JOIN US</li>
              <li class="mt-auto nav-link fw-bold" data-bs-toggle="pill" role="tab"
                style="padding-top: 100px; width: 130px;" [routerLink]="'contact-us-here'">LEGAL</li>
          </div>
        </div>
      </div>
      <div class="h-100 menu-content" style="width:100% !important; overflow-y: scroll; z-index:-1">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="aiq.ng">aiq.ng</a>
      </div>
    </footer>
  </ng-template>
  
</div>


<!--testingst-->