<div class="wrapper">
  <div id="globe-bg" #globeViz></div>
  <section id="main-front" class="text-white">
    <!-- <div class="top row"></div> -->
    <div class="d-flex p-md-5 flex-column justify-content-between h-100">
      <div class="d-flex p-3">
        <div class="me-auto fw-bolder fs-2">AIQ</div>
        <div class="float-end text-end d-none d-md-block">
          <p class="fs-6 text-white-50">
            For enquiries <br/>
            <a class="btn-link fs-5 text-white-50" href="mailto:info@aiq.ng">info@aiq.ng</a>
          </p>
        </div>
      </div>
      <div class="mt-auto d-flex flex-column flex-md-row align-items-center">
        <div class="intro-text p-3">AIQ is an innovation-driven company focused on data, defence and intelligence technologies.</div>
        <div class="col-md-2 float-end p-0 pt-3 p-md-5 fs-6 text-white-50 mobile-tabs" style="padding-right:0!important">
          <div class="p-0 border border-gray rounded h-100 d-flex flex-row flex-md-column justify-content-between">
            <div class="p-2 col border-bottom border-gray other-link"><button class="w-100 h-100 btn btn-outline-secondary border-0 text-md-start text-center" (click)="openEnd(content)"><span class="d-md-none d-sm-block text-center">+<br/></span>DATA <span class="d-none d-md-block float-end">+</span></button></div>
            <div class="p-2 col border-bottom border-gray mid-link"><button class="w-100 h-100 btn btn-outline-secondary border-0 text-md-start text-center" (click)="openEnd(content)"><span class="d-md-none d-sm-block text-center">+<br/></span>DEFENCE <span class="d-none d-md-block float-end">+</span></button></div>
            <div class="p-2 col other-link"><button class="w-100 h-100 btn btn-outline-secondary border-0 text-md-start text-center" (click)="openEnd(content)"><span class="d-md-none d-sm-block text-center">+<br/></span>INTELLIGENCE <span class="d-none d-md-block float-end">+</span></button></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title">Offcanvas title</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
      <p>One fine body&hellip;</p>
      <div class="text-end">
        <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Close</button>
      </div>
    </div>
  </ng-template>
</div>