<section class="about-container">
  <div class="about-cover">
    <div class="mission-contents">
      <h2 class="f-lexend">Our Mission</h2>
      <p class="f-nunito">
        is to unlock the insights from data and enable members of the defence
        and intelligence communities to derive actionable intelligence, faster.
      </p>
      <a href="/capabilities">
        <button class="btn-mission">See how we do this</button></a
      >
    </div>
    <p class="f-nunito">
      In the defence and intelligence sector, AIQ's bespoke and turnkey
      solutions deliver a strategic edge. Through the power of AI, we help
      organizations convert data into valuable insights, automate the routine,
      and make informed decisions that propel operational success. Experience
      the AIQ advantage and empower your operations like never before.
    </p>
  </div>
  <div
    class="p-3 bg-Image pt-5 w-100 d-flex flex-center flex-column text-center"
    style="background-image: url('assets/earth-bg.webp')"
  >
    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</section>

<!--  -->
<section class="mission-container">
  <div class="mission-contain">
   
    <h2 class="f-mont">Unlock the Advantage with AIQ's Custom AI Solutions</h2>
    <div class="map-img">
      <img src="assets/globeOne.webp" class="img me-auto" width="100%" alt="i" />
    </div>
  </div>
</section>
<section class="solution-container">
  <div class="">
    <div class="solution-cover">
      <div class="solution-contents">
        <h2 class="f-mont">Our Solutions.</h2>
        <p class="f-nunito">
          We provide robust software solutions and infrastructure built on data
          insights. Our services touch upon three crucial stages of the
          intelligence cycle: Collection, Processing, and Exploitation.
        </p>
      </div>
      <div class="box-content">
        <img src="assets/icons/Icons.svg" alt="i" />
        <h4 class="f-mont">GeoAI Tool</h4>
        <p class="f-nunito">
          Our GeoAI tool is a cutting-edge AI-powered solution that utilizes
          advanced algorithms to analyze geospatial data and extract actionable
          intelligence. By leveraging machine learning and computer vision
          techniques, GeoAI provides real-time analysis of satellite imagery,
          aerial surveillance footage, and other geospatial data sources. This
          enables our clients to detect and monitor critical infrastructure,
          identify potential threats, and enhance situational awareness for
          strategic decision-making.
        </p>
      </div>

      <div class="box-content">
        <img src="assets/icons/Icons.svg" alt="i" />
        <h4 class="f-mont">HYDRA Engine</h4>
        <p class="f-nunito">
          Our HYDRA Engine is an AI-driven solution designed to handle the
          complexities of high-dimensional data in the defence and intelligence
          domain. This powerful engine leverages deep learning algorithms and
          neural networks to process and analyze vast amounts of multi-modal
          data. Whether it's processing data from radar systems, intelligence
          reports, or sensor networks, HYDRA Engine enables our clients to
          extract meaningful insights, detect anomalies, and identify patterns
          that may otherwise go unnoticed. This empowers decision-makers with a
          comprehensive understanding of complex data landscapes and supports
          more accurate and timely decision-making.
        </p>
      </div>

      <div class="box-content">
        <img src="assets/icons/Icons.svg" alt="i" />
        <h4 class="f-mont">GIDAD</h4>
        <p class="f-nunito">
          GIDAD (Global Intelligence and Data Analysis Dashboard) is our
          flagship AI-powered platform for defence and intelligence operations.
          GIDAD integrates advanced machine learning, natural language
          processing, and data fusion techniques to provide a comprehensive and
          unified intelligence picture. The platform collects, analyzes, and
          synthesizes data from diverse sources, including open-source
          intelligence, social media, and proprietary databases. GIDAD
          facilitates real-time threat detection, trend analysis, and predictive
          intelligence, enabling our clients to proactively respond to security
          challenges and make well-informed decisions
        </p>
        <!-- <button class="f-lexend">
          Learn More <img src="assets/icons/arrow-right.svg" />
        </button> -->
      </div>

      <div class="box-content">
        <img src="assets/icons/Icons.svg" alt="i" />
        <h4 class="f-mont">Sentinel MIND</h4>
        <p class="f-nunito"></p>
        <!-- <button class="f-lexend">
          Learn More <img src="assets/icons/arrow-right.svg" />
        </button> -->
      </div>

      <div class="box-content">
        <img src="assets/icons/Icons.svg" alt="i" />
        <h4 class="f-mont">JIFDAS</h4>
        <p class="f-nunito"></p>
        <!-- <button class="f-lexend">
          Learn More <img src="assets/icons/arrow-right.svg" />
        </button> -->
      </div>

      <div class="box-content">
        <img src="assets/icons/Icons.svg" alt="i" />
        <h4 class="f-mont">CIVET</h4>
        <p class="f-nunito"></p>
        <!-- <button class="f-lexend">
          Learn More <img src="assets/icons/arrow-right.svg" />
        </button> -->
      </div>
    </div>
  </div>
</section>
<section>
  <div class="fifth-container">
    <div class="fifth-cover">
      <div class="fifth-text">
        <h2 class="f-mont">
          Proudly Serving Diverse Clients in Defence and Intelligence.
        </h2>
        <p class="f-lexend">
          AIQ is a leading provider of innovative defence and intelligence
          solutions, focusing on national security. With years of experience,
          cutting-edge technology, and a commitment to excellence, we offer
          comprehensive solutions, intelligence expertise, and a collaborative
          approach.
          <br />
          Our diverse talent pool, including industry veterans, analysts, and
          technology experts as well as our commitment to excellence ensures
          state-of-the-art solutions and services.
        </p>
      </div>
      <div class="card-holder">
        <div class="img-card">
          <img
            src="assets/media/logos/dia-logo.webp"
            width="120px"
            style="margin: 16px"
            alt="i"
          />
        </div>
        <div class="img-card">
          <img
            src="assets/media/logos/naf-logo.webp"
            width="110px"
            style="margin: 16px"
            alt="i"
          />
        </div>
        <div class="img-card">
          <img
            src="assets/media/logos/dsa-logo.webp"
            width="120px"
            style="margin: 16px"
            alt="i"
          />
        </div>
      </div>
    </div>
  </div>
</section>
