.about-container {
  background: var(--gray-50, #f5f6f7);
  padding: 80px 20px 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about-cover {
  width: 90%;
  margin: 3.5rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-cover h2 {
  flex-basis: 50%;
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.9px;
  color: var(--gray-900, #061c3d);
}
.about-cover p {
  flex-basis: 30%;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-900, #061c3d);
}

.about-image {
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 40px auto 0 auto;
}

.mission-container {
  background: #fff;
  padding-top: 3rem;
}
.mission-contain {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  color: #171752;
  justify-content: space-between;
  
}
.mission-contents {
  flex-basis: 50%;
}
.mission-contents h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.84px;
}
.mission-contents p {
  color: #42526b;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.btn-mission {
  border: 1px;
  background: #171752;
  color: #ffffff;
  min-width: 220px;
  height: 3rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  border-radius: 6px;
  cursor: pointer;
}
.btn-mission:hover {
  border: 2px solid goldenrod;
  color: goldenrod;
  background: #0C0C43;
}
.map-img {
  padding: 40px;
  flex-basis: 35%;
}

.bg-Image {
  
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: exclusion;
  height: 60vh;
}

.solution-container {
  background: linear-gradient(133deg, #171752 7.29%, #8787e7 100%);
  min-height: 500px;
  padding: 45px;
}
.solution-cover {
  width: 90%;
  margin: 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.solution-contents {
  flex-basis: 48%;
  /* flex-basis: 780px; */
  margin-bottom: 2rem;
  flex-grow: 0;
}
.solution-contents h2 {
  color: var(--gray-00, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.84px;
}
.solution-contents p {
  width: 70%;
  color: var(--gray-00, #fff);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.box-content {
  flex-basis: 24%;
  /* flex-basis: 400px; */
  flex-grow: 0;
  border-radius: 16px;
  background: #171752;
  box-shadow: 0px 16px 48px 0px rgba(255, 255, 255, 0.04);
  color: #fff;
  padding: 20px;
  min-height: 200px;
  width: 280px;
  margin-bottom: 2rem;
}
.box-content h4 {
  font-size: 18px;

  font-weight: 600;
  line-height: 26px;
  margin: 0.5rem 0;
}
.box-content p {
  color: #b4bbc5;
  height: 200px;
  overflow-x: auto;
  font-size: 14px;
margin: 0;
  font-weight: 400;
  line-height: 20px;
}
.box-content button {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  background: transparent;
  border: 0;
}

/* Fifth Section */
.fifth-container {
  color: #171752;
  background: #fff;
  opacity: 0.8999999761581421; 
  padding: 40px;
  margin: 40px 20px;
}
.fifth-cover {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  align-items: center;
  width: 90%;
  margin: auto;
}
.fifth-text {
  flex-basis: 45%;
}
.fifth-text h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.48px;
}
.fifth-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.card-holder {
  display: flex;
  align-items: center;
  gap: 35px; 
 flex-basis: 50%;
}
.img-card {
  flex-shrink: 0;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1024px) {
 .solution-contents {flex-basis: 60%;}
 .box-content {flex-basis: 30%}
}
@media only screen and (max-width: 768px) {
  .solution-container {
    padding: 20px;
  }
  .about-cover {
    flex-direction: column;
    margin: 2.5 auto;
  }
  .about-cover h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .about-cover p {
    font-size: 16px;
    line-height: 24px;
  }
 
 .bg-Image {
  background-position: center;
 }

  .fifth-container {
    padding: 0;
   }
   .fifth-cover {
     flex-direction: column;
     justify-content: flex-start;
   }
   .fifth-text h2 {
     font-size: 28px;
     font-weight: 26px;
   }
   .card-holder {
     justify-content: center;
     flex-wrap: wrap;
   }
   .mission-contents {
    flex-basis: 90%;
    margin: 2rem;

   }
   .mission-contents h2 {
    font-size: 30px;
    line-height: 40px;
   }
   .mission-contents p {
    font-size: 16px;
    line-height: 24pxx;
   }
   .map-img {
    display: none;
   }
   .solution-cover {
    margin: 10px;
   }
   .solution-contents {
    flex-basis: 90%;
   }
   .solution-contents h2 {
    font-size: 30px;
    line-height: 40px;
   }
   .solution-contents p {
    font-size: 16px;
    line-height: 24px;
   }
   .box-content {
    flex-basis: 250px;
   }
}
