<section class="about-container">
  <div class="about-cover">
    <h2 class="f-mont">
      Elevate your defence and intelligence operations with AIQ's tailor-made
      solutions
    </h2>
    <p class="f-nunito">
      AIQ's bespoke and turnkey solutions provide a significant advantage to
      clients in the defence and intelligence industry. By harnessing the power
      of AI, organizations can gain valuable insights, automate mundane tasks,
      and make informed decisions that positively impact their operations.
    </p>
  </div>
  <div
    class="p-3 bg-Image pt-5 w-100 d-flex flex-center flex-column text-center"
    style="
     background-image: url('assets/earth-bg.png');
    "
  >
    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <!-- <div class="about-image">
    <img src="assets/media/AI.jpeg" width="100%" />
  </div> -->
</section>

<!--  -->
<section class="mission-container">
  <div class="mission-contain">
    <div class="mission-contents">
      <h2 class="f-lexend">Our Mission.</h2>
      <p class="f-nunito">
        is to unlock the insights from data and enable members of the defence
        and intelligence communities to derive actionable intelligence, faster.
      </p>
      <a href="/capabilities">
      <button class="btn-mission">See how we do this</button></a>
    </div>
    <div class="map-img">
      <img src="assets/globeOne.png" class="img me-auto" width="100%" alt="i" />
    </div>
  </div>
</section>
<section class="solution-container">
  <div class="">
    <div class="solution-cover">
      <div class="solution-contents">
        <h2 class="f-mont">Our Solutions.</h2>
        <p class="f-nunito">
          We provide data-based software solutions and infrastructure that cuts
          across three aspects of the intelligence cycle: Collections,
          Processing and Exploitation
        </p>
      </div>
      <div class="box-content">
        <img src="assets/icons/Icons.svg" />
        <h4 class="f-mont">GeoAI Tool</h4>
        <p class="f-nunito">
          Our GeoAI tool is a cutting-edge AI-powered solution tailored
          specifically for the defence and intelligence sector. It utilizes
          advanced algorithms to analyze geospatial data and extract actionable
          intelligence. By leveraging machine learning and computer vision
          techniques, GeoAI provides real-time analysis of satellite imagery,
          aerial surveillance footage, and other geospatial data sources. This
          enables our clients to detect and monitor critical infrastructure,
          identify potential threats, and enhance situational awareness for
          strategic decision-making.
        </p>
        <!-- <button class="f-lexend">
          <a href="https://medium.com/geoai" target="_blank">
            Learn More <img src="assets/icons/arrow-right.svg"
          /></a>
        </button> -->
      </div>

      <div class="box-content">
        <img src="assets/icons/Icons.svg" />
        <h4 class="f-mont">HYDRA Engine</h4>
        <p class="f-nunito">
          Our HYDRA Engine is an AI-driven solution designed to handle the
          complexities of high-dimensional data in the defence and intelligence
          domain. This powerful engine leverages deep learning algorithms and
          neural networks to process and analyze vast amounts of multi-modal
          data. Whether it's processing data from radar systems, intelligence
          reports, or sensor networks, HYDRA Engine enables our clients to
          extract meaningful insights, detect anomalies, and identify patterns
          that may otherwise go unnoticed. This empowers decision-makers with a
          comprehensive understanding of complex data landscapes and supports
          more accurate and timely decision-making.
        </p>
        <!-- <button class="f-lexend">
          Learn More <img src="assets/icons/arrow-right.svg" />
        </button> -->
      </div>

      <div class="box-content">
        <img src="assets/icons/Icons.svg" />
        <h4 class="f-mont">GIDAD</h4>
        <p class="f-nunito">
          GIDAD (Global Intelligence and Data Analysis) is our flagship
          AI-powered platform for defence and intelligence operations. GIDAD
          integrates advanced machine learning, natural language processing, and
          data fusion techniques to provide a comprehensive and unified
          intelligence picture. The platform collects, analyzes, and synthesizes
          data from diverse sources, including open-source intelligence, social
          media, and proprietary databases. GIDAD facilitates real-time threat
          detection, trend analysis, and predictive intelligence, enabling our
          clients to proactively respond to security challenges and make
          well-informed decisions
        </p>
        <!-- <button class="f-lexend">
          Learn More <img src="assets/icons/arrow-right.svg" />
        </button> -->
      </div>

      <div class="box-content">
        <img src="assets/icons/Icons.svg" />
        <h4 class="f-mont">FusionServer</h4>
        <p class="f-nunito">
          FusionServer is a brand of servers developed and manufactured by
          Huawei Technologies, a leading global provider of information and
          communication technology (ICT) solutions. FusionServer is designed to
          offer high-performance computing, reliability, scalability, and energy
          efficiency for various enterprise-level applications and workloads.
          FusionServer servers are built using advanced hardware and software
          technologies to meet the diverse needs of businesses across industries
          such as finance, telecommunications, government, education, and more.
          These servers are known for their robustness, flexibility, and ability
          to handle demanding workloads.
        </p>
        <!-- <button class="f-lexend">
          Learn More <img src="assets/icons/arrow-right.svg" />
        </button> -->
      </div>

      <div class="box-content">
        <img src="assets/icons/Icons.svg" />
        <h4 class="f-mont">Spatio</h4>
        <p class="f-nunito">
          Spatio-temporal data collection refers to the process of gathering and
          recording data that includes both spatial (geographical) and temporal
          (time-related) information. This type of data collection is
          particularly valuable for understanding how data changes and evolves
          over space and time, allowing for the analysis of trends, patterns,
          and relationships that might not be apparent in static data.
        </p>
        <!-- <button class="f-lexend">
          Learn More <img src="assets/icons/arrow-right.svg" />
        </button> -->
      </div>

      <div class="box-content">
        <img src="assets/icons/Icons.svg" />
        <h4 class="f-mont">DataForms</h4>
        <p class="f-nunito">
          Dataform is a service for data analysts to develop, test, version
          control, and schedule complex SQL workflows for data transformation in
          BigQuery. Dataform lets you manage data transformation in the
          Extraction, Loading, and Transformation (ELT) process for data
          integration. After raw data is extracted from source systems and
          loaded into BigQuery, Dataform helps you to transform it into a
          well-defined, tested, and documented suite of data tables.
        </p>
        <!-- <button class="f-lexend">
          Learn More <img src="assets/icons/arrow-right.svg" />
        </button> -->
      </div>
    </div>
  </div>
</section>
<section>
  <div class="fifth-container">
    <div class="fifth-cover">
      <div class="fifth-text">
        <h2 class="f-mont">
          We take pride in serving diverse clients in defense, intelligence.
        </h2>
        <p class="f-lexend">
          AIQ is a leading provider of exceptional defence and intelligence
          services, focusing on national security and delivering tailored
          solutions. With years of experience, cutting-edge technology, and a
          commitment to excellence, they offer comprehensive solutions,
          intelligence expertise, and a collaborative approach. Their diverse
          talent pool, including military veterans, analysts, and technology
          experts, ensures state-of-the-art solutions and services. AIQ's
          commitment to excellence drives innovation and exceeds industry
          benchmarks, ensuring clients' trust and confidence in their services.
        </p>
      </div>
      <div class="card-holder">
        <div class="img-card">
          <img
            src="assets/media/logos/dia-logo.png"
            width="120px"
            style="margin: 16px"
          />
        </div>
        <div class="img-card">
          <img
            src="assets/media/logos/naf-logo.png"
            width="110px"
            style="margin: 16px"
          />
        </div>
        <div class="img-card">
          <img
            src="assets/media/logos/dsa-logo.png"
            width="120px"
            style="margin: 16px"
          />
        </div>
      </div>
    </div>
  </div>
</section>
