<section class="p-3 w-100 d-flex flex-center flex-column text-center" style="background-color: #fff; color: #001020">
    <span class="fs-3 f-poppins mt-md-5 fw-bolder"> AIQ is your go-to AI company for bespoke and turnkey solutions in the defence and intelligence industry.</span>
</section>
<section class="p-3 pt-5 w-100 h-50 d-flex flex-center flex-column text-center"
    style="background: linear-gradient(128deg, rgba(12,12,67,1), rgba(90,90,168,1)), url(assets/astronaut-bg-earth-3.webp); background-size: cover; background-repeat: no-repeat; background-blend-mode: exclusion;">
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <p class="text-white fs-3 pt-3">
        Our cutting-edge AI technologies are designed to help you achieve your specific goals, whether it's improving situational awareness, enhancing decision-making, or optimizing operations.
    </p>
</section>
<section class="p-5 w-100 d-flex flex-center flex-column text-start" style="background-color: #fff; color: #001020">
    <p class="fs-5">
        At AIQ, we understand that each client has unique requirements and challenges. That's why we work closely with you to develop customized solutions that meet your specific needs. Our team of AI experts utilize a wide range of techniques, including machine learning, natural language processing, computer vision, and more to deliver best-in-class solutions.
    </p>

    <p class="fs-5">
        We're proud to work with a diverse range of clients in the defence and intelligence sectors, including government agencies, military organizations, and private companies. No matter the size or complexity of your project, we have the experience and expertise to deliver outstanding results.
    </p>
    <div class="p-1 p-md-5 d-flex flex-row">
        <img src="assets/media/logos/dia-logo.png" class="img img-responsive w-10 me-auto"/>
        <img src="assets/media/logos/naf-logo.png" class="img img-responsive w-10 me-auto"/>
        <img src="assets/media/logos/dsa-logo.png" class="img img-responsive w-10 me-auto"/>
    </div>
</section>
<section class="p-5 pt-5 w-100 h-45 d-flex flex-center flex-column text-start"
    style="background: linear-gradient(128deg, rgba(12,12,67,1) 72%, rgba(90,90,168,1) 0%), url(assets/media/engie-1.jpg); background-size: cover; background-repeat: no-repeat;  background-blend-mode: overlay;">
    <span class="text-white fs-2 f-poppins mt-md-5">Our mission:</span>
    <p class="text-white fs-3">
        is to unlock the insights from data and enable members of the defence and intelligence communities to derive actionable intelligence, faster.
    </p>
    <button class="btn btn-primary mt-2 small-btn w-25" routerLink="/capabilities">See how we do this</button>
</section>
<section class="pt-5 p-3 w-100 h-100 d-flex flex-center flex-column text-center" style="background-color: #fff;">
    <span class="fs-2">Our Solutions. </span>
    <p class="fs-5">
        We provide data-based software solutions and infrastructure that cuts across three aspects of the intelligence
        cycle:
    </p>
    <span class='fw-bold text-center'>Collections, Processing and Exploitation </span>
    <div class="text-center pt-3">
        <img src="assets/media/solutions.png" class="img img-responsive w-100 w-md-75" />
    </div>
    <button class="btn btn-primary small-btn w-25 m-auto" routerLink="/capabilities">View Solutions</button>
</section>