.about-container {
  background: var(--gray-50, #f5f6f7);
  padding: 80px 20px 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about-cover {
  width: 90%;
  margin: 3.5rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.about-cover h2 {
  flex-basis: 50%;
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.9px;
  color: var(--gray-900, #061c3d);
}
.about-cover p {
  flex-basis: 30%;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-900, #061c3d);
}

.about-image {
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 40px auto 0 auto;
}

.mission-container {
    background:  #fff;
    padding-top: 3rem;
}
.mission-contain {
    display: flex;
    align-items: center;
    color: #171752;
    justify-content: space-between;
}
.mission-contents {
    
}
.btn-mission {
}
.map-img {
}
@media only screen and (max-width: 768px) {
  .about-cover {
    flex-direction: column;
    margin: 2.5 auto;
  }
  .about-cover h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .about-cover p {
    font-size: 16px;
    line-height: 24px;
  }
}
