<div class="mx-auto bg-gray-50 py-16">
    <div class="mt-10">
        <h5 class="font-mont text-3xl font-semibold text-center">Explore Open Roles</h5>
        <div class="border border-gray-200 rounded-xl w-[280px] md:w-[400px] mx-auto flex items-center gap-2 my-5 p-2">
            <img class="w-6 h-5" src="/assets/icons/search.svg"  />
            <input class="w-11/12 bg-transparent outline-none" placeholder="Search Roles" />
        </div>
    </div>
  <div
    class="max-w-[1000px] border border-[#D0D5DD] bg-white mx-auto my-4 rounded-md"
    *ngFor="let searchItem of search; let i = index"
  >
    <div class="p-5" (click)="toggleAccordion(i)">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-2xl mb-5">{{ searchItem.title }}</h1>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          *ngIf="activeIndex === i"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="w-5 h-5 transform rotate-180 transition-transform duration-200"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19 9l-7 7-7-7"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          *ngIf="activeIndex !== i"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="w-5 h-5 transition-transform duration-200"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </div>
      <p class="text-sm md:text-lg">{{ searchItem.subtext }}</p>
    </div>

    <div class="my-5 mx-5" *ngIf="activeIndex === i">
      <p class="font-medium">Responsibilities:</p>
      <ul class="list-disc ml-5 mb-5">
       <li class="text-sm md:text-lg" *ngFor="let resp of searchItem.resp">{{resp}}</li>
      </ul>
      <p class="font-medium">Qualifications:</p>
      <ul class="list-disc ml-5">
       <li class="text-sm md:text-lg" *ngFor="let resp of searchItem.qualification">{{resp}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="w-screen flex items-center p-8 bg-gray-50">
  <div
    class="w-full rounded-2xl mx-auto p-10 text-center text-white relative bg-[#033387]"
  >
  <div class="bg-[url(/assets/icons/career-img.svg)] z-10 h-32 w-4/5 md:w-11/12 top-20 absolute bg-center bg-no-repeat"></div>
   <div class="relative z-20"> <p class="my-5">CONVINCED?</p>
    <h1 class="text-3xl font-bold my-5 max-w-md mx-auto">
      Don’t Miss your chance to build something great
    </h1>
    <button class="p-3 my-2 text-black bg-white rounded-md">
      Send an application
    </button></div>
  </div>
</div>
