<div class="flex items-center w-screen h-screen bg">
<div class="p-20">
<h1 class="font-bold text-5xl text-white my-2">
    About AIQ
</h1>
<p class="text-white max-w-2xl">
    We are at the forefront of harnessing artificial intelligence to redefine the landscape of national defense intelligence. Our cutting-edge solutions empower decision-makers with actionable insights derived from complex data sets. With a deep understanding of the unique challenges faced by defense agencies, we deliver tailored digital products that enhance operational efficiency, bolster security, and accelerate mission success. Our commitment to innovation and data-driven solutions sets us apart as a trusted partner in safeguarding national interests.
</p>
</div>
</div>

<div class="py-10 bg-slate-100">
    <div class="flex justify-center rounded-3xl">
        <div class="rounded-s-2xl">
            <img src="assets/image 46.jpg" alt="">
        </div>
        <div class="flex items-center rounded-e-2xl max-w-xl  bg-white">
           <div class="mx-10 ">
            <div class="flex">
                <img src="assets/Vision.svg" alt="">
                <h1 class="text-4xl mx-2 font-semibold">Vision</h1>
            </div>
            <p class="my-2">We are at the forefront of harnessing artificial intelligence to redefine the landscape of national defense intelligence. Our cutting-edge solutions empower decision-makers with actionable insights derived from complex data sets. With a deep understanding of the unique challenges faced by defense agencies,</p>
            </div>
        </div>
    </div>
    <div class="flex justify-center rounded-3xl my-5">
        <div class="flex items-center rounded-s-2xl max-w-xl bg-white">
            <div class="mx-10">
            <div class="flex">
                <img src="assets/Overview.svg" alt="">
                <h1 class="text-4xl mx-2 font-semibold">Mision</h1>
            </div>
            <p class="my-2">We are at the forefront of harnessing artificial intelligence to redefine the landscape of national defense intelligence. Our cutting-edge solutions empower decision-makers with actionable insights derived from complex data sets. With a deep understanding of the unique challenges faced by defense agencies,</p>
        </div>
        </div>
        <div class="rounded-e-2xl">
            <img src="assets/image 45.jpg" alt="">
        </div>
    </div>
</div>

<div class="bg-[#101928] p-20">
    <div class="text-center">
        <h1 class="text-[#F0F2F5] text-5xl font-semibold">Our Core Principles</h1>
    </div>
    <div class="flex justify-around items-center">
    <div class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-xl bordershadow continents">
        <div class="p-5">
        <h1 class="text-7xl font-bold my-4 heading">A</h1>
        <p class="text-white text-2xl my-2 max-w-sm">CHUTZ PAZ</p>
        <p class="text-white text-lg my-2">Audaciousness</p>
        </div>
    </div>
    

    <div class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-xl bordershadow continents mt-20">
        <div class="p-5">
        <h1 class="text-7xl font-bold heading my-4">B</h1>
        <p class="text-white text-2xl my-2 max-w-sm">ROSH GADOL</p>
        <p class="text-white text-lg my-2">Big Headedness</p>
        </div>
    </div>
   
    <div class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-lg bordershadow continents">
        <div class="p-5">
        <h1 class="text-7xl font-bold heading my-4">C</h1>
        <p class="text-white text-2xl my-2 max-w-sm">BIT ZUA</p>
        <p class="text-white text-lg my-2">Creativeness</p>
        </div>
    </div>
  
    <div class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-lg bordershadow continents mt-20">
        <div class="p-5">
        <h1 class="text-7xl font-bold heading my-4">D</h1>
        <p class="text-white text-2xl my-2 max-w-sm">DAV KA</p>
        <p class="text-white text-lg my-2">Despite the Situation</p>
        </div>
    </div>
    </div>

</div>

<section>
    <app-news-updates></app-news-updates>
</section>

<section>
    <app-reviews></app-reviews>
</section>

<section class="montserrat">
    <div class="w-screen py-10 bg-[#171752]">
        <div class="bg-white mx-auto w-2/3 py-10 px-16 rounded-2xl"> 
            <h1 class="font-bold text-4xl text-center my-5">Contact Us</h1>
            <div class="">
            <div class="flex">
            <div class="">
                <p class="text-lg font-semibold my-2"> Name </p>
                <input type="text" placeholder="Type in your name" name="name" size="45" class="border-2 border-gray-500 px-5 py-2 my-1 rounded-lg">
            </div>
            <div class="">
                <p class="text-lg font-semibold my-2 mx-6"> Phone Number </p>
                <input type="text" placeholder="Type in your Phone Number" name="Phone" size="45" class="border-2 border-gray-500 px-5 py-2 my-1 ml-7 rounded-lg">
            </div>
            </div>
            <div class="">
                <p class="text-lg font-semibold my-2"> E-mail </p>
                <input type="email" placeholder="Type in your E-mail" name="email" size="100" class="border-2 border-gray-500 px-5 py-2 rounded-lg">
            </div>
            <div class="">
                <p class="text-lg font-semibold my-2"> Message </p>
                <textarea name="" id="" rows="7" cols="105" class="border-2 border-gray-500 rounded-lg" placeholder="Type in your message">
    
                </textarea>
            </div>
            <div class="mx-auto">
                <input type="submit" value="Send" width="100" class="px-10 py-3 bg-[#171752] text-white font-semibold rounded-md">
            </div>    
            </div> 
        </div> 
    </div>
    </section>