<div class="flex items-center w-screen h-screen lg:h-screen bg">
  <div class="flex flex-col justify-center h-full container px-8 mx-auto font-inter">
    <h1 class="font-bold text-3xl md:text-5xl text-white my-2">About AIQ</h1>
    <p class="text-white max-w-2xl text-base md:text-lg lg:leading-7">
      AIQ is a pioneering African company specializing in artificial intelligence (AI) solutions for defense and intelligence organizations.
      In the defence and intelligence sector, AIQ's bespoke and turnkey solutions deliver a strategic edge. Leveraging AI, advanced algorithms, and machine learning techniques, we help organizations convert data into valuable insights, automate the routine, and make informed decisions that propel operational success. Experience the AIQ advantage and empower your operations like never before.
      We are proud to be redefining the future of intelligence through technology in Africa, driving positive change and contributing to a safer, more secure future.

    </p>
  </div>
</div>

<div class="py-10 bg-slate-100">

  <div class="flex flex-row-reverse justify-center rounded-3xl">
    <div class="flex items-center rounded-s-2xl max-w-xl py-4 lg:py-0 bg-white">
      <div class="mx-2 md:mx-10 px-4">
        <div class="flex">
          <img src="assets/Vision.svg" alt="" />
          <h1 class="text-4xl mx-2 font-semibold p-4">Vision</h1>
        </div>
        <p class=" text-lg leading-7">
          To be the leading provider of AI-driven intelligence solutions in Africa, transforming data into decisive action for a safer, more secure world
        </p>
      </div>
    </div>


    <div class="rounded-s-2xl hidden md:block">
      <img src="assets/image 46.jpg" class="object-fill h-full" alt="" />
    </div>
  </div>
  <div class="flex justify-center rounded-3xl my-5">
    <div class="flex items-center rounded-s-2xl max-w-xl py-4 lg:py-0 bg-white">
      <div class="mx-2 md:mx-10 p-3">
        <div class="flex">
          <img src="assets/Overview.svg" alt="" />
          <h1 class="text-4xl mx-2 font-semibold">Mision</h1>
        </div>
        <p class="my-2 text-lg leading-7">
          To harness the power of artificial intelligence to deliver bespoke and turnkey intelligence solutions that empower defense and intelligence communities to derive actionable insights faster, ensuring national security and operational superiority.
        </p>
      </div>
    </div>
    <div class="hidden md:block rounded-e-2xl">
      <img src="assets/image 45.jpg" class="object-fill h-full" alt="" />
    </div>
  </div>
</div>

<div class="bg-[#101928] py-20 px-10">
  <div class="text-center">
    <h1 class="text-[#F0F2F5] text-3xl md:text-5xl mb-10 font-semibold">
      Our Core Principles
    </h1>
  </div>

  <div class="flex gap-4 w-full flex-col lg:flex-row py-8 max-w-[900px] mx-auto">
    <div class="text-white flexl flex-col justify-center h-full">

      <!-- <h1 class="text-4xl mt-4">Core Values</h1> -->

      <p class="w-full text-lg max-w-[450px] mt-4 leading-7">
        Working at AIQ means confronting challenges with Audaciousness, Big-headedness and Creativity despite the situation.
      </p>

    </div>

    <div class="relative w-full max-w-[350px] mx-auto px-4">
      <!-- Carousel Wrapper -->
      <div class="overflow-hidden">
        <div class="flex transition-transform duration-500 ease-in-out" >
          <!-- Card 1 -->
          <div *ngIf="currentIndex==1" class="min-w-full p-4">
            <div class="max-w-[300px]  w-full h-[300px]   rounded-xl bordershadow continents">
              <div class="p-5">
                <h1 class="text-7xl font-bold my-4 heading">A</h1>
                <p class="text-white text-2xl my-2 max-w-sm">
                  CHUTZ <br />
                  PAZ
                </p>
                <p class="text-white text-lg my-2">Audaciousness</p>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div *ngIf="currentIndex==2" class="min-w-full p-4">
            <div class="max-w-[300px] w-full h-[300px]  rounded-xl bordershadow continents ">
              <div class="p-5">
                <h1 class="text-7xl font-bold heading my-4">B</h1>
                <p class="text-white text-2xl my-2 max-w-sm">
                  ROSH<br />
                  GADOL
                </p>
                <p class="text-white text-lg my-2">Big Headedness</p>
              </div>
            </div>
          </div>

          <!-- Card 3 -->
          <div *ngIf="currentIndex==3" class="min-w-full p-4">
            <div class="max-w-[300px] w-full  h-[300px]  rounded-lg bordershadow continents">
              <div class="p-5">
                <h1 class="text-7xl font-bold heading my-4">C</h1>
                <p class="text-white text-2xl my-2 max-w-sm">
                  BIT<br />
                  ZUA
                </p>
                <p class="text-white text-lg my-2">Creativeness</p>
              </div>
            </div>
          </div>

          <!-- Card 4 -->
          <div *ngIf="currentIndex==4" class="min-w-full p-4">
            <div class="max-w-[300px] w-full h-[300px]  rounded-lg bordershadow continents">
              <div class="p-5">
                <h1 class="text-7xl font-bold heading my-4">D</h1>
                <p class="text-white text-2xl my-2 max-w-sm">
                  DAV<br />
                  KA
                </p>
                <p class="text-white text-lg my-2">Despite the Situation</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Previous Button -->
      <button (click)="prevSlide()" class="absolute animate-pulse left-0 top-1/2 h-10 w-10 p-2 bg-gray-700 text-white rounded-full hover:bg-gray-900">
        &#8592;
      </button>

      <!-- Next Button -->
      <button (click)="nextSlide()" class="absolute animate-pulse right-0 top-1/2 h-10 w-10 p-2 bg-gray-700 text-white rounded-full hover:bg-gray-900">
        &#8594;
      </button>
    </div>
  </div>





  <!-- <div class="flex justify-around flex-wrap gap-5 items-center">
    <div
      class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-xl bordershadow continents"
    >
      <div class="p-5">
        <h1 class="text-7xl font-bold my-4 heading">A</h1>
        <p class="text-white text-2xl my-2 max-w-sm">
          CHUTZ <br />
          PAZ
        </p>
        <p class="text-white text-lg my-2">Audaciousness</p>
      </div>
    </div>

    <div
      class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-xl bordershadow continents mt-5 md:mt-20"
    >
      <div class="p-5">
        <h1 class="text-7xl font-bold heading my-4">B</h1>
        <p class="text-white text-2xl my-2 max-w-sm">
          ROSH<br />
          GADOL
        </p>
        <p class="text-white text-lg my-2">Big Headedness</p>
      </div>
    </div>

    <div class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-lg bordershadow continents">
      <div class="p-5">
        <h1 class="text-7xl font-bold heading my-4">C</h1>
        <p class="text-white text-2xl my-2 max-w-sm">
          BIT<br />
          ZUA
        </p>
        <p class="text-white text-lg my-2">Creativeness</p>
      </div>
    </div>

    <div class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-lg bordershadow continents mt-5 md:mt-20">
      <div class="p-5">
        <h1 class="text-7xl font-bold heading my-4">D</h1>
        <p class="text-white text-2xl my-2 max-w-sm">
          DAV<br />
          KA
        </p>
        <p class="text-white text-lg my-2">Despite the Situation</p>
      </div>
    </div>
  </div>
</div> -->

<section>
  <app-news-updates></app-news-updates>
</section>

<section class="montserrat flex justify-center">
  <div class="w-full py-8 lg:py-20 bg-[#171752] bg-[url('/assets/company-bg.svg')]">
    <div
      class="bg-white mx-auto w-11/12 md:w-2/3 py-10 px-4 md:px-16 rounded-2xl"
    >
      <h3 class="text-gray-800 text-lg md:text-2xl lg:leading-10 text-center my-5">
        We are AIQ - your go-to company for bespoke and turnkey solutions in the defence and intelligence industry.
      </h3>
      <div class="">

        <div class="mx-auto my-6 flex justify-center">
          <button (click)="route('contact-us')"
            type="submit"
            width="100"
            class="px-12 py-4 bg-[#171752] text-white font-semibold w-60 rounded-md"
          >
            Contact
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
