<div class="flex items-center w-screen h-screen bg">
  <div class="py-20 px-5 container mx-auto font-inter">
    <h1 class="font-bold text-3xl md:text-5xl text-white my-2">About AIQ</h1>
    <p class="text-white max-w-2xl text-sm md:text-base">
      AIQ is a pioneering African company specializing in artificial intelligence (AI) solutions for defense and intelligence organizations. Our mission is to empower these agencies with cutting-edge technology that transforms raw data into actionable intelligence, enabling them to make informed decisions and safeguard national security.<br />
      We offer a comprehensive suite of AI-powered products tailored to meet the unique needs of the defense and intelligence industry. Our solutions leverage advanced algorithms and machine learning techniques to analyze vast amounts of data, identify patterns, and extract valuable insights.<br />
      At AIQ, we are committed to innovation and excellence. Our innovative solutions empower defense and intelligence communities to make informed decisions quickly, enhancing national security and operational efficiency. We are proud to be redefining the future of intelligence through technology in Africa, driving positive change and contributing to a safer, more secure future.
    </p>
  </div>
</div>

<div class="py-10 bg-slate-100">
  
  <div class="flex flex-row-reverse justify-center rounded-3xl my-5">
    <div class="flex items-center rounded-s-2xl max-w-xl bg-white">
      <div class="mx-2 md:mx-10 p-3">
        <div class="flex">
          <img src="assets/Vision.svg" alt="" />
          <h1 class="text-4xl mx-2 font-semibold">Vision</h1>
        </div>
        <p class="my-2">
          To be the leading provider of AI-driven intelligence solutions in Africa, transforming data into decisive action for a safer, more secure world
        </p>
      </div>
    </div>
    
    <div class="rounded-s-2xl hidden md:block">
      <img src="assets/image 46.jpg" alt="" />
    </div>
  </div>
  <div class="flex justify-center rounded-3xl my-5">
    <div class="flex items-center rounded-s-2xl max-w-xl bg-white">
      <div class="mx-2 md:mx-10 p-3">
        <div class="flex">
          <img src="assets/Overview.svg" alt="" />
          <h1 class="text-4xl mx-2 font-semibold">Mision</h1>
        </div>
        <p class="my-2">
          To harness the power of artificial intelligence to deliver bespoke and turnkey intelligence solutions that empower defense and intelligence communities to derive actionable insights faster, ensuring national security and operational superiority.
        </p>
      </div>
    </div>
    <div class="hidden md:block rounded-e-2xl">
      <img src="assets/image 45.jpg" alt="" />
    </div>
  </div>
</div>

<div class="bg-[#101928] py-20 px-10">
  <div class="text-center">
    <h1 class="text-[#F0F2F5] text-3xl md:text-5xl font-semibold">
      Our Core Principles
    </h1>
  </div>
  <div class="flex justify-around overflow-x-auto gap-5 items-center">
    <div
      class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-xl bordershadow continents"
    >
      <div class="p-5">
        <h1 class="text-7xl font-bold my-4 heading">A</h1>
        <p class="text-white text-2xl my-2 max-w-sm">
          CHUTZ <br />
          PAZ
        </p>
        <p class="text-white text-lg my-2">Audaciousness</p>
      </div>
    </div>

    <div
      class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-xl bordershadow continents mt-20"
    >
      <div class="p-5">
        <h1 class="text-7xl font-bold heading my-4">B</h1>
        <p class="text-white text-2xl my-2 max-w-sm">
          ROSH<br />
          GADOL
        </p>
        <p class="text-white text-lg my-2">Big Headedness</p>
      </div>
    </div>

    <div
      class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-lg bordershadow continents"
    >
      <div class="p-5">
        <h1 class="text-7xl font-bold heading my-4">C</h1>
        <p class="text-white text-2xl my-2 max-w-sm">
          BIT<br />
          ZUA
        </p>
        <p class="text-white text-lg my-2">Creativeness</p>
      </div>
    </div>

    <div
      class="max-w-[300px] min-w-[300px] min-h-[300px] max-h-[300px] rounded-lg bordershadow continents mt-20"
    >
      <div class="p-5">
        <h1 class="text-7xl font-bold heading my-4">D</h1>
        <p class="text-white text-2xl my-2 max-w-sm">
          DAV<br />
          KA
        </p>
        <p class="text-white text-lg my-2">Despite the Situation</p>
      </div>
    </div>
  </div>
</div>

<section>
  <app-news-updates></app-news-updates>
</section>

<section class="montserrat">
  <div class="w-screen py-20 bg-[#171752] bg-[url('/assets/company-bg.svg')]">
    <div
      class="bg-white mx-auto w-11/12 md:w-2/3 py-10 px-4 md:px-16 rounded-2xl"
    >
      <h1 class="font-bold text-2xl md:text-4xl text-center my-5">
        Contact Us
      </h1>
      <div class="">
        <div class="flex flex-col md:flex-row justify-between">
          <div class="w-full md:w-[48%]">
            <p class="text-lg font-semibold mt-2">Name</p>
            <input
              type="text"
              placeholder="Name"
              name="name"
              class="outline-none border w-full border-[#E4E7EC] px-5 py-2  rounded-lg"
            />
          </div>
          <div class="w-full md:w-[48%]">
            <p class="text-lg font-semibold mt-2">Phone Number</p>
            <div class="border w-full border-[#E4E7EC] px-2 py-2  rounded-lg flex gap-2 items-center">
              <span> 
                <img alt="" class="w-5" src="/assets/icons/phone.svg" />
              </span>
              <input
                type="text"
                placeholder="Phone Number"
                name="Phone"
                class="outline-none"
              />
            </div>
          </div>
        </div>
        <div class="w-full">
          <p class="text-lg font-semibold mt-2">E-mail</p>
          <div class="border w-full border-[#E4E7EC] px-2 py-2  rounded-lg flex gap-2 items-center">
            <span> 
              <img alt="" class="w-5" src="/assets/icons/mail.svg" />
            </span>
          <input
            type="email"
            placeholder="E-mail"
            name="email"
            class="outline-none"
          />
          </div>
        </div>
        <div class="">
          <p class="text-lg font-semibold mt-2">Message</p>
          <textarea
            name=""
            id=""
            rows="7"
            class=" outline-none border border-[#E4E7EC] w-full rounded-lg"
            placeholder="Type in your message"
          >
          </textarea>
        </div>
        <div class="mx-auto my-6 flex justify-center">
          <button
            type="submit"
            width="100"
            class="px-12 py-4 bg-[#171752] text-white font-semibold w-60 rounded-md"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
