<!-- <div class="container">
  <p class="p-tag">Phone No:<a href="tel:09041411112">09041411112</a></p>
  <p class="p-tag">
    Address: No. 1 MM Alkali Street Citec Villas Gwarinpa Abuja.
  </p>
  <p class="p-tag">Email: <a href="mailto:aiq@ng">Email</a></p>
</div> -->

<section class="contact-container">
  <div class="f-lexend contact-text">Contact Us</div>
  <div class="f-lexend contact-us">
    
    <div class="links f-lexend">
      <div class="link-id">
      <img src="assets/icons/location.svg" />
      <p class="p-tag">
        Address: No. 1 MM Alkali Street Citec Villas Gwarinpa Abuja.
      </p>
    </div>
      <div class="google-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3939.397919118766!2d7.396431514787272!3d9.118483993458783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104ddf804c95aca7%3A0x678231fb11dfe6eb!2sHarmony%20Innovation%20Hub!5e0!3m2!1sen!2sng!4v1689260119684!5m2!1sen!2sng"
        width="300"
        height="250"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    </div>
    <div class="links f-lexend">
      <img src="assets/icons/phone.svg" />
      <p class="p-tag">
        Phone No:<a href="tel:+23441411112">+234 (41411112)</a>
      </p>
    </div>
    <div class="links f-lexend">
      <img src="assets/icons/email.svg" />
      <p class="p-tag">Email: <a href="mailto:connectaiq@gmail.com">connectaiq@gmail.com</a></p>
    </div>
  </div>
</section>
