<section class="contact-container">
  <div class="f-lexend contact-text">Contact Us</div>
  <div class="f-lexend contact-us">
    <div class="links f-lexend">
      <img src="assets/icons/location.svg" />
      <p class="p-tag">
        Address: No. 1 MM Alkali Street Citec Villas Gwarinpa Abuja.
      </p>
    </div>

    <div class="links f-lexend">
      <img src="assets/icons/phone.svg" />
      <p class="p-tag">
        Phone No:<a href="tel:+23441411112">+234 (41411112)</a>
      </p>
    </div>
    <div class="links f-lexend">
      <img src="assets/icons/email.svg" />
      <p class="p-tag">
        Email: <a href="mailto:info@aiq.ng">info@aiq.ng</a>
      </p>
    </div>
  </div>
</section>
