<section class="nav-container">
  <div class="header-cover mx-auto pt-20">
    <div class="fw-bolder w-10">
      <img
        src="assets/media/logos/aiq-logo.webp"
        class="img img-responsive me-auto image"
        alt="AIQ logo"
        width="100%"
        height="100%"
        routerLink="/"
        style="cursor: pointer;"
      />
    </div>
    <nav class="my-10 w-md-75 main-nav">
      <ul class="d-flex gap-4 align-items-center ul-list">
        <li
          class="nav-list cursor-pointer f-nunito"
          *ngFor="let item of navItems"
          [routerLink]="item.path"
          routerLinkActive="active"
        >
          {{ item.label }}
        </li>
      </ul>
    </nav>
    <div class="btn-div">
      <button
        class="f-nunito nav-btn"
        routerLinkActive="active"
        [routerLink]="'/contact-us'"
      >
        Contact Us
      </button>
    </div>
    <div class="nav-menu" *ngIf="showList" (click)="onShowList()">
      <img src="assets/icons/menu_close.svg" width="30px" alt="i" />
    </div>
    <div class="nav-menu" *ngIf="!showList" (click)="onShowList()">
      <img src="assets/icons/menu-fill.svg" width="30px" alt="i" />
    </div>
  </div>
</section>

<!-- SMALL SCREEN -->
<section *ngIf="showList">
  <section class="sideNav-container">
    <div class="backdrop">
      <div class="sideNav-style">
        <li
          class="f-mont"
          *ngFor="let item of navItems"
          [routerLink]="item.path"
          routerLinkActive="active"
          (click)="closeShowList()"
        >
          {{ item.label }}
        </li>
        <li
          class="f-mont"
          [routerLink]="'/contact-us'"
          (click)="closeShowList()"
          routerLinkActive="active"
        >
          Contact Us
        </li>
      </div>
    </div>
  </section>
</section>
