/* You can add global styles to this file, and also import other style files */
html,body {
    background: rgb(12,12,67);
    background: linear-gradient(128deg, rgba(12,12,67,1) 0%, rgba(90,90,168,1) 72%); 
    background: #171752;
    
    scroll-behavior: smooth; 
     overflow-y: auto; 
     color: #001020 !important
}

/* body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: -webkit-fill-available !important;
} */

.f-poppins {
    font-family: 'Poppins', sans-serif !important;
}

.f-lexend {
    font-family: 'Lexend', sans-serif;
}
.f-mont {
    font-family: 'Montserrat', sans-serif;
}

.f-nunito {
    font-family: 'Nunito', sans-serif !important;
}

.offcanvas {
    width: 100% !important;
}

/* For WebKit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px; /* Adjust width as needed */
    
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #171752; /* Thumb color */
  }
  
  /* For Firefox */
  /* Note: Custom styling of scrollbars is not supported in Firefox, 
     but you can style the overlay scrollbars */
  html {
    scrollbar-width: thin;
    scrollbar-color: #171752 #f1f1f1;
    
  }