.bg {
    background-image: url("../../../../../public/assets/offices.jpg");
    background-size: cover;
}

.bg1 {
    background-image: url("../../../../../public/assets/image 44.jpg");
    background-size: cover;
}
