.home-section {
  width: 100%;
  padding: 1rem 7rem;
  min-height: 100vh;
  background: #171752;
}

.first-container {
  /* margin: 5rem 0 0 0; */
  display: flex;
  align-items: center;
  height: 90vh;
}

.first-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0 4rem 0;
}
.map-group {
  flex-basis: 45%;
  padding: 1rem;
}

.first-cover {
  flex-basis: 45%;
  color: #ffffff;
}

.first-cover h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 16px;
}

.first-cover p {
  font-size: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  padding: 16px;
  border-left: 2px solid #fff;
  border-radius: 2px;
}

.home-btn {
  border: 1px;
  background: #FFFFFF;
  min-width: 120px;
  height: 3rem;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding: 16px, 28px, 16px, 28px;
  gap: 8px;
  border-radius: 6px;
  cursor: pointer;
  color: #171752;
}
.home-btn:hover svg {
  stroke: goldenrod; /* Replace with the color you want when hovering */
}

.home-btn:hover {
  border: 2px solid goldenrod;
  color: goldenrod;
  background: #0C0C43;
}
 

/* Background Images */
.bg-icons {
  position: absolute;
  width: 500px;
  z-index: 1;
}

.second-icon {
  position: absolute;
  width: 200px;
  padding-top:3rem ;
  right: 20px;
  z-index: 1;
}
/*  */

.second-container {
  background: #ffffff;
  min-height: 500px;
  margin: 50px 0 0 0;
  margin-bottom: 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);}
.second-cover {
  width: 90%;
  margin: 0 auto;
  color: #171752;
  padding: 10px 0;
}
.second-header {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 32px;
  text-align: center;
  width: 80%;
  margin: 30px auto;
}
.second-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.second-text {
  flex-basis: 50%;
}

.video-control {
  flex-basis: 30%;
}
.second-text h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.second-text p {
  font-size2023: 16px;
  line-height: 24px;
  font-weight: 300;
}
.div-btn {
  margin-top: 45px;
}
.btn-details {
  border: 1px;
  background: #171752;
  color: #ffffff;
  min-width: 180px;
  height: 3rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  border-radius: 6px;
  cursor: pointer;
}
.btn-details:hover svg {
  stroke: goldenrod;
}
.btn-details:hover  {
  border: 2px solid goldenrod;
  color: goldenrod;
}

/* THIRD CONTAINER */
.third-container {
  padding-top: 3rem;
  background: #ffffff;
}
.third-cover {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.third-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.third-contents {
  flex-basis: 45%;
}
.third-contents h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}
.third-contents p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.map-groupTwo {
  flex-basis: 40%;
  padding: 40px;
}

/* FOURTH CONTAINER */
.fourth-container {
  /* background: #171752; */
  color: #fff;
}
.fourth-cover {
  width: 78%;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}
.fourth-cover h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
}
.content-cover {
  display: flex;
  width: 80%;
  margin: 3rem auto;
  padding: 20px;
  justify-content: center;
  
  gap: 40px;
  border-radius: 32px;
  background: linear-gradient(
    180deg,
    rgba(228, 222, 250, 0.3) 0%,
    rgba(224, 224, 224, 0.11) 100%
  );
  backdrop-filter: blur(4px);
  border: 1px solid #fff;
}
.div-content {
  line-height: normal;
  width: 30%;
  margin: 0.5rem;
}
.div-content h4 {
  font-size: 20px;
  font-weight: 900;
}
.div-content p {
  font-size: 16px;
  font-weight: 400x;
  height: 200px;
  overflow: auto;
}

/* Fifth Section */
.fifth-container {
  color: #171752;
  background: #fff;
  opacity: 0.8999999761581421; 
  padding: 40px;
  margin: 40px 20px;
}
.fifth-cover {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  align-items: center;
  width: 90%;
  margin: auto;
}
.fifth-text {
  flex-basis: 45%;
}
.fifth-text h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.48px;
}
.fifth-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.card-holder {
  display: flex;
  align-items: center;
  gap: 35px; 
 flex-basis: 50%;
}
.img-card {
  flex-shrink: 0;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1268px) {
.third-icon {
  display: none;
}
.fourth-icon {
  display: none;
}
.fifth-icon {
  display: none;
}
.sixth-icon {
  display: none;
}
}
@media only screen and (max-width: 768px) {
  .home-section {
    width: 100%;
    padding: 0 10px;
  }
  .first-contents {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .map-group {
    display: none;
  }
  .first-cover h2 {
    font-size: 40px;
  }
  .first-cover p {
    border: 0;
    font-size: 18px;
  }
  .first-cover button {
    width: 200px;
  }
  .bg-icons  {
    width: 100%;
  }
  /*  */

  .second-icon {
    padding-top: 0;
    width: 150px;
  }
 

  /* Second */
  .second-header {
    font-size: 30px;
    margin: 0;
    width: 100%;
    line-height: 40px;
  }
  .second-content {
    flex-direction: column;
    justify-content: flex-start;
  }

  /* Third */
  .third-contain {
    flex-direction: column;
    justify-content: flex-start;
  }
  .map-groupTwo {
    display: none;
  }
  .third-contain {
    margin: 3rem 0;
  }
  .third-contents h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .third-contents p {
    font-size: 16px;
    line-height: 20px;
  }
  .fourth-cover {
    width: 96%;
    margin: 20px auto;
    padding: 10px;
  }
  .fourth-cover h2{
   font-size: 30px;
   line-height: 35px;
  }
  .content-cover {
    flex-direction: column;
    border-radius: 10px;
    justify-content: flex-start;
  }
  .div-content {
    width: 100%;
  }

  /* Fifth */
  .fifth-container {
   padding: 0;
  }
  .fifth-cover {
    flex-direction: column;
    justify-content: flex-start;
  }
  .fifth-text h2 {
    font-size: 28px;
    font-weight: 26px;
  }
  .card-holder {
    justify-content: center;
    flex-wrap: wrap;
  }
}
