<section class="home-section">
  <!-- First Section -->
  <div class="first-container">
    <div class="first-contents">
      <img class="bg-icons" src="assets/icons/linearImg.webp" alt="i" />
      <div class="first-cover" style="z-index: 10">
        <h2 class="f-mont">
          We are Africa's first defence and intelligence focused AI company.
        </h2>
        <p class="f-lexend d-none d-sm-block">
          Our mission is to unlock the insights from data and enable members of
          the defence and intelligence communities to derive actionable
          intelligence, faster.
        </p>
        
          <button class="home-btn f-lexend" routerLink="/about-us">
            <!-- Explore <img src="assets/icons/arrow-down.svg" width="20px" /> -->
            Learn More
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              stroke="#171752"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M10 3.125V16.875" />
              <path d="M15.625 11.25L10 16.875L4.375 11.25" />
            </svg>
          </button>
        
      </div>
      <div class="map-group">
        <img
          src="assets/globeOne.webp"
          class="img me-auto"
          width="100%"
          alt="i"
        />
      </div>
    </div>
  </div>
</section>

<!-- Second Section -->
<section class="second-container">
  <div class="second-cover">
    <div class="second-header f-mont">
      AIQ is your go-to AI company for bespoke and turnkey solutions in the
      defence and intelligence industry.
    </div>
    <div class="second-content">
      <div class="video-control card m-auto">
        <video
          class="video-style card-img-top"
          src="/assets/media/vids/data-collection.mp4"
          autoplay=""
          muted=""
          playsinline=""
          loop=""
        ></video>
      </div>

      <div class="second-text f-lexend">
        <h3>SPATIO-TEMPORAL DATA COLLECTION</h3>
        <p>
          AIQ's Spatio-Temporal Data Collection service is a game-changer for
          defence and intelligence operations. Utilizing cutting-edge
          technology, we transform complex data into decisive insights. It's not
          just about collecting data, but reshaping how you interpret and
          interact with it. Experience the revolution with AIQ.
        </p>
        <div class="div-btn">
          <button class="btn-details f-lexend" routerLink="/capabilities">
            Explore Solutions
            <!-- <img src="assets/icons/arrow-right.svg" width="25px" alt="i" /> -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M3.125 10H16.875" />
              <path d="M11.25 4.375L16.875 10L11.25 15.625" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Third Section -->
<section class="third-container">
  <div class="second-cover">
    <div class="third-contain">
      <div class="third-contents">
        <h2 class="f-mont">
          Realize Your Objectives with Our Superior Big Data Approach
        </h2>
        <p>
          Harness the power of our innovative big data and AI solutions,
          tailored to your specific needs. Be it amplifying situational
          awareness, bolstering decision-making, or streamlining operations,
          we've got you covered.
        </p>
      </div>
      <div class="map-groupTwo">
        <img
          src="assets/globeOne.webp"
          class="img me-auto"
          width="100%"
          alt="i"
        />
      </div>
    </div>

    <!--  -->
    <div class="third-contain">
      <div class="map-groupTwo">
        <img
          src="assets/globeOne.webp"
          class="img me-auto"
          width="100%"
          alt="i"
        />
      </div>
      <div class="third-contents">
        <h2 class="f-mont" style="font-weight: 600">
          Tailored AI Solutions for Unique Challenges.
        </h2>
        <p>
          Every client has unique needs and at AIQ, we embrace that. We craft
          personalized AI solutions, utilizing techniques like machine learning,
          natural language processing, and computer vision to tackle your
          specific challenges. From government agencies to military
          organizations and private companies, we serve a diverse clientele
          within the defence and intelligence sectors. No project is too big or
          too complex for our seasoned team of AI experts. Your outstanding
          results are our success.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Fourth Section -->
<section
  class="fourth-container"
  style="background-image: url(assets/media/bg-cover.webp)"
>
  <div
    style="
      background: rgba(23, 23, 82, 0.9);
      padding-top: 40px;
      padding-bottom: 60px;
    "
  >
    <div class="fourth-cover f-nunito">
      <h2>
        We provide data-based software solutions and infrastructure that cuts
        across three key aspects of the intelligence cycle
      </h2>
    </div>
    <div class="content-cover">
      <div class="div-content f-nunito">
        <img src="assets/icons/Insights.svg" width="25px"  alt="i"/>
        <h4>
          Data Collection:
          <span class="f-mont" style="font-weight: 600">Revolutionized.</span>
        </h4>
        <p>
          At AIQ, we're using AI to redefine data collection in defence and
          intelligence. Our sophisticated AI algorithms automate data gathering
          from various sources like sensors, satellites, social media, and
          open-source platforms. With our AI-driven techniques, we provide
          comprehensive, real-time situational awareness. This empowers our
          clients to make informed decisions based on timely, precise
          information. By leveraging our solutions, We're not just enhancing
          your awareness; we're optimizing the way you operate.
        </p>
      </div>
      <div class="div-content f-nunito">
        <img src="assets/icons/Insights.svg" width="25px" alt="i" />
        <h4>
          Data Processing:
          <span class="f-mont" style="font-weight: 600">Elevated.</span>
        </h4>
        <p>
          Our state-of-the-art AI technologies redefine data processing in
          defence and intelligence. Efficiently analyzing vast data volumes in
          structured or unstructured formats, our AI algorithms unearth
          invaluable insights. Automation minimizes human error, boosts
          efficiency, and hastens decision-making. Leveraging our skills in
          natural language processing, image recognition, and machine learning,
          we empower clients to draw actionable intelligence from complex,
          dynamic data landscapes.
        </p>
      </div>
      <div class="div-content f-nunito">
        <img src="assets/icons/Insights.svg" width="25px" alt="i"/>
        <h4>
          Data Exploitation:
          <span class="f-mont" style="font-weight: 600">Unleashed.</span>
        </h4>
        <p>
          At the heart of our AI-driven solutions for defence and intelligence
          is data exploitation. We squeeze the most value out of data, helping
          clients unearth hidden connections, forecast threats, and boost
          operational effectiveness. Leveraging advanced analytics and AI
          models, we supply decision-makers with actionable intelligence for
          proactive response to shifting challenges. Our data exploitation
          solutions equip clients with the necessary tools and insights to
          maintain an edge in today's dynamic security landscape.
        </p>
      </div>
    </div>
    <div style="text-align: center">
      <button
        class="home-btn"
        style="min-width: 180px"
        routerLink="/capabilities"
      >
        <!-- <img src="assets/icons/arr-right.svg" /> -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          stroke="#171752"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M3.125 10H16.875" />
          <path d="M11.25 4.375L16.875 10L11.25 15.625" />
        </svg>
        Explore Solutions
      </button>
    </div>
  </div>
</section>

<!-- Fifth Section -->
<section>
  <div class="fifth-container">
    <div class="fifth-cover">
      <div class="fifth-text">
        <h2 class="f-mont">
          We take pride in serving diverse clients in defense and intelligence.
        </h2>
        <p class="f-lexend">
          As a vanguard in defence and intelligence services, AIQ specializes in
          bolstering national security with custom-made solutions. Our legacy is
          built on years of experience, bleeding-edge technology, and an
          unwavering commitment to excellence. Our comprehensive suite of
          solutions, intelligence expertise, and collaborative ethos provide
          unparalleled service to our clients.
          <br />
          Our diverse team of industry veterans, analysts, and tech gurus ensure
          the delivery of top-notch solutions. At AIQ, it's not just about
          meeting industry benchmarks—it's about exceeding them. Our devotion to
          excellence fuels our innovation and solidifies our clients' trust in
          our capabilities.
        </p>
      </div>
      <div class="card-holder">
        <div class="img-card">
          <img
            src="assets/media/logos/dia-logo.webp"
            width="120px"
            style="margin: 16px"
            alt="i"
          />
        </div>
        <div class="img-card">
          <img
            src="assets/media/logos/naf-logo.webp"
            width="110px"
            style="margin: 16px"
            alt="i"
          />
        </div>
        <div class="img-card">
          <img
            src="assets/media/logos/dsa-logo.webp"
            width="120px"
            style="margin: 16px"
            alt="i"
          />
        </div>
      </div>
    </div>
  </div>
</section>
