<section class="home-section">
  <!-- First Section -->
  <div class="first-container">
    <div class="first-contents">
      <img class="bg-icons" src="assets/icons/linearImg.png" />
      <div class="first-cover" style="z-index: 10;">
        <h2 class="f-mont">
          We are Africa's first defence and intelligence focused AI company.
        </h2>
        <p class="f-lexend">
          We are Africa's first defence and intelligence focused AI company.
        </p>
        <button class="home-btn f-lexend" >
          Explore <img src="assets/icons/arrow-down.svg" width="20px" />
        </button>
      </div>
      <div class="map-group">
        <img
          src="assets/globeOne.png"
          class="img me-auto"
          width="100%"
          alt="i"
        />
      </div>
    </div>
  </div>
</section>

<!-- Second Section -->
<section class="second-container">
  <div class="second-cover">
    <img class="second-icon" src="assets/icons/linearImg2.png" />
    <div class="second-header f-mont">
      AIQ is your go-to AI company for bespoke and turnkey solutions in the
      defence and intelligence industry.
    </div>
    <div class="second-content">
      <div class="video-control card m-auto">
        <video
          class="video-style card-img-top"
          src="/assets/media/vids/data-collection.mp4"
          autoplay=""
          muted=""
          playsinline=""
          loop=""
        ></video>
      </div>

      <div class="second-text f-lexend">
        <h3>SPATIO-TEMPORAL DATA COLLECTION</h3>
        <p>
          At AIQ, we are dedicated to solving complex challenges in the tech
          industry. Our innovative solution leverages cutting-edge technology to
          address critical needs and drive transformative outcomes. With a deep
          understanding of market demands and a passion for innovation, we have
          developed a solution that revolutionizes the way businesses operate.
        </p>
        <div class="div-btn">
          <button class="btn-details f-lexend">
            Our Solution
            <img src="assets/icons/arrow-right.svg" width="25px" alt="i" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Third Section -->
<section class="third-container">
  <img class="fourth-icon" src="assets/icons/linearImg4.png" />
  <div class="second-cover">
    <div class="third-contain">
      <img class="third-icon" src="assets/icons/linearImg3.png" />
      <div class="third-contents">
       
        <h2 class="f-mont">
          Achieve Your Goals with our Advanced AI Technologies
        </h2>
        <p>
          Our cutting-edge AI technologies are designed to help you achieve your
          specific goals, whether it's improving situational awareness,
          enhancing decision-making, or optimizing operations.
        </p>
      </div>
      <div class="map-groupTwo">
        <img
          src="assets/globeOne.png"
          class="img me-auto"
          width="100%"
          alt="i"
        />
      </div>
    </div>

    <!--  -->
    <img class="fifth-icon" src="assets/icons/linearImg5.png" />
    <img class="sixth-icon" src="assets/icons/linearImg6.png" />
    <div class="third-contain">
     
      <div class="map-groupTwo">
        <img
          src="assets/globeOne.png"
          class="img me-auto"
          width="100%"
          alt="i"
        />
      </div>
      <div class="third-contents">
        <h2 class="f-mont" style="font-weight: 600">
          Customized AI solutions for unique challenges.
        </h2>
        <p>
          At AIQ, we understand that each client has unique requirements and
          challenges. That's why we work closely with you to develop customized
          solutions that meet your specific needs. Our team of AI experts
          utilize a wide range of techniques, including machine learning,
          natural language processing, computer vision, and more to deliver
          best-in-class solutions.
          <span style="display: block; margin-top: 20px"> </span>
          We're proud to work with a diverse range of clients in the defence and
          intelligence sectors, including government agencies, military
          organizations, and private companies. No matter the size or complexity
          of your project, we have the experience and expertise to deliver
          outstanding results.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Fourth Section -->
<section
  class="fourth-container"
  style="background-image: url(assets/media/bg-cover.png)"
>
  <div
    style="
      background: rgba(23, 23, 82, 0.9);
      padding-top: 40px;
      padding-bottom: 60px;
    "
  >
    <div class="fourth-cover f-nunito">
      <h2>
        We provide data-based software solutions and infrastructure that cuts
        across three aspects of the intelligence cycle
      </h2>
    </div>
    <div class="content-cover">
      <div class="div-content f-nunito">
        <img src="assets/icons/Insights.svg" width="25px" />
        <h4>Data Exploitation</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ab
          optio quos maxime veritatis totam?
        </p>
      </div>
      <div class="div-content f-nunito">
        <img src="assets/icons/Insights.svg" width="25px" />
        <h4>Data Procession</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ab
          optio quos maxime veritatis totam?
        </p>
      </div>
      <div class="div-content f-nunito">
        <img src="assets/icons/Insights.svg" width="25px" />
        <h4>Data Collection</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ab
          optio quos maxime veritatis totam?
        </p>
      </div>
    </div>
    <div style="text-align: center">
      <button class="home-btn" style="min-width: 180px">
        <img src="assets/icons/arr-right.svg" />
        Our Solution
      </button>
    </div>
  </div>
</section>

<!-- Fifth Section -->
<section>
  <div class="fifth-container">
    <div class="fifth-cover">
      <div class="fifth-text">
        <h2 class="f-mont">
          We take pride in serving diverse clients in defense, intelligence.
        </h2>
        <p class="f-lexend">
          Nullam nec ipsum luctus, vehicula massa in, dictum sapien. Aenean quis
          luctus ert nulla quam augue.
        </p>
      </div>
      <div class="card-holder">
        <div class="img-card">
          <img
            src="assets/media/logos/dia-logo.png"
            width="120px"
            style="margin: 16px"
          />
        </div>
        <div class="img-card">
          <img
            src="assets/media/logos/naf-logo.png"
            width="110px"
            style="margin: 16px"
          />
        </div>
        <div class="img-card">
          <img
            src="assets/media/logos/dsa-logo.png"
            width="120px"
            style="margin: 16px"
          />
        </div>
      </div>
    </div>
  </div>
</section>
